<h1>HolidayRentings#index</h1>
<p>Find me in app/views/holiday_rentings/index.html.erb</p>
<ul>
<% @annonces.each do |annonce| %>
  <li>
    <%= annonce.name %>
    <%= link_to "voir annonce", holiday_renting_path(annonce) %>
  </li>
<% end %>
</ul>
<%= link_to 'Gîte Lindauer', sub_lindauer_url %>
<%= link_to 'Meublés Heidelbeere', sub_hunckler_url %>
