<% noindex %>
<main>
  <article class="article">
    <h1>La Casemate de Dambach Neunhoffen</h1>
    <section>
      <div class="image-float">
        <img src="https://raw.githubusercontent.com/thomas6791/photos-pays/master/maginot/casemate_neunhoffen.jpg" width="500" height="300" object-fit="cover" alt="casemate de dambach neunhoffen, ouvrage de la ligne maginot en Alsace">
      </div>
        <p>La <strong>casemate de Dambach Neunhoffen</strong>, maillon de la <strong>Ligne Maginot dans les Vosges du Nord d’Alsace</strong> est aujourd’hui un musée, reconstituant le quotidien  d’un équipage en poste.</p>
      <h2>Titre</h2>
    </section>
    <section>
      <img src="https://raw.githubusercontent.com/thomas6791/photos-pays/master/maginot/casemate2.jpg" width="300" height="auto" object-fit="contain" alt="casemate de dambach neunhoffen, ouvrage de la ligne maginot en Alsace">
    </section>
    <section>
      <img src="https://raw.githubusercontent.com/thomas6791/photos-pays/master/maginot/casemate3.jpg" width="300" height="auto" object-fit="contain" alt="casemate de dambach neunhoffen, ouvrage de la ligne maginot en Alsace">
    </section>
    <section>
      <h2>Contact</h2>
        <address>
          Responsable: Syndicat d’Initiative de Lembach et Environs :<br>
          2, route de Bitche<br>
          67510 Lembach<br>
          Accueil du Four à Chaux - Tél: <a href="tel:+33388944862">+33 (0)3 88 94 48 62</a><br>
          Bureau du Syndicat d'Initiative - Tél: <a href="tel:+33388944316">+33 (0)3 88 94 43 16</a><br>
          Mail: <a href="info@ot-lembach.com">info@ot-lembach.com</a><br>
          Site internet: <a href="https://www.lignemaginot.fr/">www.lignemaginot.fr</a>
        </address>
      </section>

      <div class="advice">
        <h2>Conseils</h2>
        <ul>
          <li>Il est nécessaire d'être présent 10 minutes avant l'heure des visites.</li>
          <li>Il est recommandé d'emmener un vêtement chaud, la température à l'intérieur n'est que de 13°C.</li>
        </ul>
      </div>
    </section>
  </article>
</main>
