<h1>LigneMaginots#dambach</h1>
<p>Find me in app/views/ligne_maginots/dambach.html.erb</p>

<table>
  <tr>
    <td rowspan="2">&nbsp;</td>
    <td colspan="6">Niederbronn-les-Bains</td>
    <td colspan="6">Morsbronn-les-Bains</td>
  </tr>
  <tr>
    <td>NC</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>NC</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
  <tr>
    <td>Age</td>
    <td>16</td>
    <td>9</td>
    <td>10</td>
    <td>5</td>
  </tr>
  <tr>
    <td>Propriétaire</td>
    <td>Belle-mère</td>
    <td>Moi</td>
    <td>Moi</td>
    <td>Belle-soeur</td>
  </tr>
  <tr>
    <td>Habitudes alimentaires</td>
    <td>Mange tous les restes</td>
    <td>Grignotte la nourriture</td>
    <td>Mange copieusement</td>
    <td>Mange jusqu'à ce qu'il éclate</td>
  </tr>
</table>
