<% title "Four à Chaux de Lembach - Ouvrage de la Ligne Maginot d'Alsace" %>
<% description "Visite du four à chaux de lembach, un des plus imposants ouvrage de la ligne maginot avec un musée au programme et de nombreux éléments datant de l'époque. Horaires, contact et informations" %>
<% set_meta_tags canonical: "http://www.paysniederbronn.fr/ligne-maginot/alsace/four-a-chaux-de-lembach" %>
<% set_meta_tags alternate: { "#{locale.to_s}" => "http://www.paysniederbronn.fr/#{locale.to_s}/ligne-maginot-alsace/four-a-chaux-lembach" } %>

<main id="four_a_chaux_lembach">
  <article class="article">
    <h1>Four à Chaux de Lembach</h1>
    <section>
      <div class="image-float">
          <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Ouvrage_Four_%C3%A0_Chaux_Lembach_Elsass_Ligne_Maginot.JPG/1600px-Ouvrage_Four_%C3%A0_Chaux_Lembach_Elsass_Ligne_Maginot.JPG", width: 500, height: 300, alt: "Four à chaux de lembach, ouvrage de la ligne maginot d'alsace" %>
          <p class="quote">source: wikipedia</p>
        </div>
        <p>Sans doute l’un des ouvrages les plus importants de la ligne maginot, le <strong>four à chaux de lembach</strong> offre l’opportunité de se replonger dans les conditions de vie des soldats de la seconde guerre mondiale au travers d'une visite guidée s'étallant sur plusieurs km.<br><br>Si la seule façade du blockhaus n’est visible que sur quelques mètres, le <strong>four à chaux de lembach</strong> est enterré à 25m dans le rocher et dont l’épaisseur des murs variait entre 1,20m et 3,50m afin de résister à des obus de 420mm.<br> A cela s’ajoute un vaste réseau souterrain de plus de 4km reliant six blocs de combat dont 1,8km de circuit est aujourd’hui ouvert au public.<br><br>
        Conçu pour être une véritable petite ville en cas d'attaque des troupes allemandes, <strong>le four à chaux de lembach</strong> pouvait accueillir une garnison de 580 soldats. Il abritait ainsi une centrale électrique, des dortoirs, une cuisine, un central téléphonique ou encore un bloc opératoire. Ces parties de l'édifice sont aujourd'hui au programme de la visite.
        </p>
      <h2>Retour sur la ligne maginot</h2>
      <p>Impulsé par le ministre de la Défense de l’époque André Maginot, en suivant l’idée de Joffre après la Première Guerre Mondiale, la construction de la ligne Maginot débuta en 1930 pour s’achever en 1936.
      Cette ligne de fortifications reliant le Nord-Est aux Alpes afin de protéger les lignes des armées françaises face à de nouvelles menaces, est constituée de 22 gros ouvrages dont le <strong>Fort de Schoenenbourg</strong> entre lesquels furent placés 31 petits ouvrages dont le <strong>Four à chaux de lembach.</strong>
      Faisant parti du secteur fortifié des Vosges, secteur situé entre le secteur fortifié de Rohrbach à l‘ouest et le secteur fortifié de Haguenau à l’Est, cette partie de la ligne maginot comporte également bon nombres de casemates dont la <strong>casemate de Dambach-Neunhoffen</strong>.
      </p>

      <h2>L'histoire du Four à Chaux</h2>
      <p>Construit entre 1930 et 1935, l’<strong>ouvrage du four à chaux</strong> fût à quatre reprises le point de mobilisation de régiments d’infanterie de forteresse et tire son nom d’une carrière toute proche.
      La dernière mobilisation date du 24 août 1939, où après les mobilisations de l’Anschluss, des Sudètes et celle de la Bohême.</p>
      <br>
      <p>
        Parmi les moments majeurs du Four à Chaux, on notera la visite du général Churchill en janvier 1940, suivi quelques temps plus tard, par une première attaque contre une position allemande durant la même période.<br>
        A partir du 14 juin, le Four-à-Chaux fut bombardé par les Stukas.<br>
        Le 24 juin, l’ouvrage tira sont dernier obus, puis le 1er juillet, sur ordre du haut commandement, la garnison se rendait.<br>
        Ce n’est qu’en 1983, après avoir été restauré que le Four à Chaux a rouvert ses portes au public.<br>
      </p>

      <h2>La visite de l'ouvrage</h2>
      <p>Sur les 4km de réseau souterrain que compte la casemate, 1,8km sont aujourd’hui ouvert au public pour une durée d’environ 2h accompagné à chaque fois d’un guide.<br>
      Au cours des différentes étapes de l’exploration du four à chaux, on pourra visiter les parties vitales meublées et équipées avec le mobilier de l’époque.<br>
      Ainsi on peut encore observer la centrale électrique, les dortoirs, les douches, la cuisine, le central téléphonique, le bloc opératoire, le poste de commandant ou encore le puit artésien qui rendait l’ouvrage autonome dans son approvisionnement en eau.<br><br>
      Durant cette visite, on pourra également découvrir l’un des six blocs de combat où il est possible de manœuvrer une tourelle d'artillerie mobile pesant plusieurs tonnes.<br>
      Enfin, pour finir la visite, un petit musée permet de voir les armes et projectiles de l’époque, ainsi que les uniformes et les affiches de propagande utilisés.</p>


      <section>
      <h2>Contact</h2>
        <address>
          Responsable: Syndicat d’Initiative de Lembach et Environs :<br>
          2, route de Bitche<br>
          67510 Lembach<br>
          Accueil du Four à Chaux - Tél: <a href="tel:+33388944862">+33 (0)3 88 94 48 62</a><br>
          Bureau du Syndicat d'Initiative - Tél: <a href="tel:+33388944316">+33 (0)3 88 94 43 16</a><br>
          Mail: <a href="info@ot-lembach.com">info@ot-lembach.com</a><br>
          Site internet: <a href="https://www.lignemaginot.fr/">www.lignemaginot.fr</a>
        </address>
      </section>

      <div class="advice">
        <h2>Conseils</h2>
        <ul>
          <li>Il est nécessaire d'être présent 10 minutes avant l'heure des visites.</li>
          <li>Il est recommandé d'emmener un vêtement chaud, la température à l'intérieur n'est que de 13°C.</li>
        </ul>
      </div>
    </section>
    <section>
      <h2>Horaires et tarifs du Four à Chaux</h2>
      <div class="tableau fourlembach visites" data-day=<%= @day %> >
        <table>

          <h3><caption>Horaires des visites</caption></h3>

          <thead>
            <tr>
             <th>Périodes</th>
             <th>Langue des visites</th>
             <th class="mon">Lundi</th>
             <th class="tue">Mardi</th>
             <th class="wed">Mercredi</th>
             <th class="thu">Jeudi</th>
             <th class="fri">Vendredi</th>
             <th class="sat">Samedi</th>
             <th class="sun">Dimanche</th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <th scope="row" rowspan="2">Du 02/01/2019 au 31/03/2019</th>
              <td class="fr">Français</td>
              <td class="mon"></td>
              <td class="tue"></td>
              <td class="wed"></td>
              <td class="thu"></td>
              <td class="fri"></td>
              <td class="sat">14h30</td>
              <td class="sun">14h30</td>
            </tr>
            <tr>
              <td class="de">Allemand</td>
              <td class="mon"></td>
              <td class="tue"></td>
              <td class="wed"></td>
              <td class="thu"></td>
              <td class="fri"></td>
              <td class="sat">14h30</td>
              <td class="sun">14h30</td>
            </tr>

            <tr>
              <th scope="row" rowspan="2">Du 01/04/2019 au 30/04/2019</th>
              <td class="fr">Français</td>
              <td class="mon">14h00; 16h00</td>
              <td class="tue">14h00; 16h00</td>
              <td class="wed">14h00; 16h00</td>
              <td class="thu">14h00; 16h00</td>
              <td class="fri">14h00; 16h00</td>
              <td class="sat">14h00; 16h00</td>
              <td class="sun">14h00; 16h00</td>
            </tr>
            <tr>
              <td class="de">Allemand</td>
              <td class="mon">13h30; 15h30</td>
              <td class="tue">13h30; 15h30</td>
              <td class="wed">13h30; 15h30</td>
              <td class="thu">13h30; 15h30</td>
              <td class="fri">13h30; 15h30</td>
              <td class="sat">13h30; 15h30</td>
              <td class="sun">13h30; 15h30</td>
            </tr>

            <tr>
              <th scope="row" rowspan="2">Du 01/05/2019 au 30/09/2019</th>
              <td class="fr">Français</td>
              <td class="mon">10h00; 14h00; 16h00</td>
              <td class="tue">10h00; 14h00; 16h00</td>
              <td class="wed">10h00; 14h00; 16h00</td>
              <td class="thu">10h00; 14h00; 16h00</td>
              <td class="fri">10h00; 14h00; 16h00</td>
              <td class="sat">10h00; 14h00; 16h00</td>
              <td class="sun">10h00; 14h00; 16h00</td>
            </tr>
            <tr>
              <td class="de">Allemand</td>
              <td class="mon">10h30; 13h30; 15h30</td>
              <td class="tue">10h30; 13h30; 15h30</td>
              <td class="wed">10h30; 13h30; 15h30</td>
              <td class="thu">10h30; 13h30; 15h30</td>
              <td class="fri">10h30; 13h30; 15h30</td>
              <td class="sat">10h30; 13h30; 15h30</td>
              <td class="sun">10h30; 13h30; 15h30</td>
            </tr>

            <tr>
              <th scope="row" rowspan="2">Du 01/10/2019 au 31/10/2019</th>
              <td class="fr">Français</td>
              <td class="mon">14h00; 16h00</td>
              <td class="tue">14h00; 16h00</td>
              <td class="wed">14h00; 16h00</td>
              <td class="thu">14h00; 16h00</td>
              <td class="fri">14h00; 16h00</td>
              <td class="sat">14h00; 16h00</td>
              <td class="sun">14h00; 16h00</td>
            </tr>
            <tr>
              <td class="de">Allemand</td>
              <td class="mon">10h30; 13h30; 15h30</td>
              <td class="tue">13h30; 15h30</td>
              <td class="wed">13h30; 15h30</td>
              <td class="thu">13h30; 15h30</td>
              <td class="fri">13h30; 15h30</td>
              <td class="sat">13h30; 15h30</td>
              <td class="sun">13h30; 15h30</td>
            </tr>

            <tr>
              <th scope="row" rowspan="2">Du 01/11/2019 au 23/12/2019</th>
              <td class="fr">Français</td>
              <td class="mon"></td>
              <td class="tue"></td>
              <td class="wed"></td>
              <td class="thu"></td>
              <td class="fri"></td>
              <td class="sat">14h30</td>
              <td class="sun">14h30</td>
            </tr>
            <tr>
              <td class="de">Allemand</td>
              <td class="mon"></td>
              <td class="tue"></td>
              <td class="wed"></td>
              <td class="thu"></td>
              <td class="fri"></td>
              <td class="sat">14h30</td>
              <td class="sun">14h30</td>
            </tr>

            <tr>
              <th scope="row" rowspan="2">Du 27/12/2019 au 30/12/2019</th>
              <td class="fr">Français</td>
              <td class="mon">14h30</td>
              <td class="tue">14h30</td>
              <td class="wed">14h30</td>
              <td class="thu">14h30</td>
              <td class="fri">14h30</td>
              <td class="sat">14h30</td>
              <td class="sun">14h30</td>
            </tr>
            <tr>
              <td class="de">Allemand</td>
              <td class="mon">14h30</td>
              <td class="tue">14h30</td>
              <td class="wed">14h30</td>
              <td class="thu">14h30</td>
              <td class="fri">14h30</td>
              <td class="sat">14h30</td>
              <td class="sun">14h30</td>
            </tr>

          </tbody>

        </table>
      </div>
    </section>
    <section>
      <div class="tableau fourlembach prix">
        <table>

          <h3><caption>Prix</caption></h3>

          <thead>
            <tr>
             <th></th>
             <th>Prix</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Adulte</th>
              <td>7,00€</td>
            </tr>
            <tr>
              <th>Etudiant</th>
              <td>5,50€</td>
            </tr>
            <tr>
              <th>Ancien combattant</th>
              <td>5,50€</td>
            </tr>
            <tr>
              <th>Enfant (de 6 à 17 ans)</th>
              <td>4,50€</td>
            </tr>
            <tr>
              <th>Famille avec 1 enfant (6 à 17 ans)</th>
              <td>16,00€</td>
            </tr>
            <tr>
              <th>Famille avec 2 enfants (6 à 17 ans)</th>
              <td>19,00 € + 3,50 € par enfant supplémentaire</td>
            </tr>
            <tr>
              <th>Groupe adultes</th>
              <td>6,00€</td>
            </tr>
            <tr>
              <th>Groupe scolaires (de 6 à 17 ans)</th>
              <td>3,50€</td>
            </tr>
            <tr>
              <th>Forfait moins de 20 personnes</th>
              <td>140,00€</td>
            </tr>
            <tr>
              <th colspan="2">Billet combiné (Château Fort du Fleckenstein / Ligne Maginot - Four à Chaux)</th>
            </tr>
            <tr>
              <th>Adulte</th>
              <td>7,00€</td>
            </tr>
            <tr>
              <th>Jeune (6 à 17 ans)</th>
              <td>6,50€</td>
            </tr>
            <tr>
              <th colspan="2">Avec le Pass Alsace</th>
            </tr>
            <tr>
              <th>Adulte</th>
              <td><span class="barre">7,00€</span> - Gratuit</td>
            </tr>
            <tr>
              <th>Enfant (de 6 à 17 ans)</th>
              <td><span class="barre">4,50€</span> - Gratuit</td>
            </tr>

          </tbody>

        </table>
      </div>
    </section>
  </article>
</main>
<%= javascript_pack_tag "dayCalendar" %>

