<header>
  <h1>Four à Chaux de Lembach</h1>
</header>
<main id="four_a_chaux_lembach">
  <section>
    <h2>Horaires et tarifs du Four à Chaux</h2>
    <h3>Horaires des visites</h3>
    <div class="tableau fourlembach">
      <table>
        <thead>Horaires des visites</thead>
        <tr>
          <td>gg</td>
          <td>gggg</td>
        </tr>
      </table>
    </div>
  </section>
</main>
