<header>
  <h1>Four à Chaux de Lembach</h1>
</header>
<main id="four_a_chaux_lembach">
  <section>
    <h2>Horaires et tarifs du Four à Chaux</h2>
    <h3>Horaires des visites</h3>
    <div class="tableau fourlembach">
      <table>
        <caption>Horaires des visites</caption>
        <thead>
          <tr>
           <th>Périodes</th>
           <th>Langue des visites</th>
           <th>Lundi</th>
           <th>Mardi</th>
           <th>Mercredi</th>
           <th>Jeudi</th>
           <th>Vendredi</th>
           <th>Samedi</th>
           <th>Dimanche</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>gg</td>
            <td>gggg</td>
          </tr>
        </tbody>
      </table>

    </div>
  </section>
</main>
