<main id="four_a_chaux_lembach">
  <article>
    <header>
      <h1>Four à Chaux de Lembach</h1>
    </header>

    <section>
      <div>
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Ouvrage_Four_%C3%A0_Chaux_Lembach_Elsass_Ligne_Maginot.JPG/1600px-Ouvrage_Four_%C3%A0_Chaux_Lembach_Elsass_Ligne_Maginot.JPG", width: 500, alt: "Four à chaux de lembach, ouvrage de la ligne maginot d'alsace" %>
        <p>Sans doute l’un des ouvrages les plus importants de la ligne maginot, le <strong>four à chaux de lembach</strong> offre l’opportunité de se replonger dans les conditions de vie des soldats de la seconde guerre mondiale à travers d'une visite guidée s'étallant sur plusieurs km.<br> Si la seule façade n’est visible que sur quelques mètres, le <strong>four à chaux de lembach</strong> est enterré à 25m dans le rocher et dont l’épaisseur des murs variait entre 1,20m et 3,50m afin de résister à des obus de 420mm.<br> A cela s’ajoute un vaste réseau souterrain de plus de 4km reliant six blocs de combat dont 1,8km de circuit est aujourd’hui ouvert au public.<br>
        Conçu pour être une véritable petite ville en cas d'attaque, <strong>le four à chaux de lembach</strong> pouvait accueillir une garnison de 580 soldats. Il abritait ainsi une centrale électrique, des dortoirs, une cuisine, un central téléphonique ou encore un bloc opératoire. Ces parties de l'édifice sont au programme de la visite.
        </p>
      </div>
      <h2>Retour sur la ligne maginot</h2>
      <h2>L'histoire du Four à Chaux</h2>
      <h2>La visite de l'ouvrage</h2>
      <h2>Horaires et tarifs du Four à Chaux</h2>
    </section>
    <section>
      <div class="tableau fourlembach visites">
        <p>Il est nécessaire d'être présent 10 minutes avant l'heure des visites</p>
        <table>

          <h3><caption>Horaires des visites</caption></h3>

          <thead>
            <tr>
             <th>Périodes</th>
             <th>Langue des visites</th>
             <th>Lundi</th>
             <th>Mardi</th>
             <th>Mercredi</th>
             <th>Jeudi</th>
             <th>Vendredi</th>
             <th>Samedi</th>
             <th>Dimanche</th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <th scope="row" rowspan="2">Du 02/01/2019 au 31/03/2019</th>
              <td class="fr">Français</td>
              <td class="monday"></td>
              <td class="tue"></td>
              <td class="wed"></td>
              <td class="thu"></td>
              <td class="fri"></td>
              <td class="sat">14h30</td>
              <td class="sun">14h30</td>
            </tr>
            <tr>
              <td class="de">Allemand</td>
              <td class="monday"></td>
              <td class="tue"></td>
              <td class="wed"></td>
              <td class="thu"></td>
              <td class="fri"></td>
              <td class="sat">14h30</td>
              <td class="sun">14h30</td>
            </tr>

            <tr>
              <th scope="row" rowspan="2">Du 01/04/2019 au 30/04/2019</th>
              <td class="fr">Français</td>
              <td class="monday">14h00; 16h00</td>
              <td class="tue">14h00; 16h00</td>
              <td class="wed">14h00; 16h00</td>
              <td class="thu">14h00; 16h00</td>
              <td class="fri">14h00; 16h00</td>
              <td class="sat">14h00; 16h00</td>
              <td class="sun">14h00; 16h00</td>
            </tr>
            <tr>
              <td class="de">Allemand</td>
              <td class="monday">13h30; 15h30</td>
              <td class="tue">13h30; 15h30</td>
              <td class="wed">13h30; 15h30</td>
              <td class="thu">13h30; 15h30</td>
              <td class="fri">13h30; 15h30</td>
              <td class="sat">13h30; 15h30</td>
              <td class="sun">13h30; 15h30</td>
            </tr>

            <tr>
              <th scope="row" rowspan="2">Du 01/05/2019 au 30/09/2019</th>
              <td class="fr">Français</td>
              <td class="monday">10h00; 14h00; 16h00</td>
              <td class="tue">10h00; 14h00; 16h00</td>
              <td class="wed">10h00; 14h00; 16h00</td>
              <td class="thu">10h00; 14h00; 16h00</td>
              <td class="fri">10h00; 14h00; 16h00</td>
              <td class="sat">10h00; 14h00; 16h00</td>
              <td class="sun">10h00; 14h00; 16h00</td>
            </tr>
            <tr>
              <td class="de">Allemand</td>
              <td class="monday">10h30; 13h30; 15h30</td>
              <td class="tue">10h30; 13h30; 15h30</td>
              <td class="wed">10h30; 13h30; 15h30</td>
              <td class="thu">10h30; 13h30; 15h30</td>
              <td class="fri">10h30; 13h30; 15h30</td>
              <td class="sat">10h30; 13h30; 15h30</td>
              <td class="sun">10h30; 13h30; 15h30</td>
            </tr>

            <tr>
              <th scope="row" rowspan="2">Du 01/10/2019 au 31/10/2019</th>
              <td class="fr">Français</td>
              <td class="monday">14h00; 16h00</td>
              <td class="tue">14h00; 16h00</td>
              <td class="wed">14h00; 16h00</td>
              <td class="thu">14h00; 16h00</td>
              <td class="fri">14h00; 16h00</td>
              <td class="sat">14h00; 16h00</td>
              <td class="sun">14h00; 16h00</td>
            </tr>
            <tr>
              <td class="de">Allemand</td>
              <td class="monday">10h30; 13h30; 15h30</td>
              <td class="tue">13h30; 15h30</td>
              <td class="wed">13h30; 15h30</td>
              <td class="thu">13h30; 15h30</td>
              <td class="fri">13h30; 15h30</td>
              <td class="sat">13h30; 15h30</td>
              <td class="sun">13h30; 15h30</td>
            </tr>

            <tr>
              <th scope="row" rowspan="2">Du 01/11/2019 au 23/12/2019</th>
              <td class="fr">Français</td>
              <td class="monday"></td>
              <td class="tue"></td>
              <td class="wed"></td>
              <td class="thu"></td>
              <td class="fri"></td>
              <td class="sat">14h30</td>
              <td class="sun">14h30</td>
            </tr>
            <tr>
              <td class="de">Allemand</td>
              <td class="monday"></td>
              <td class="tue"></td>
              <td class="wed"></td>
              <td class="thu"></td>
              <td class="fri"></td>
              <td class="sat">14h30</td>
              <td class="sun">14h30</td>
            </tr>

            <tr>
              <th scope="row" rowspan="2">Du 27/12/2019 au 30/12/2019</th>
              <td class="fr">Français</td>
              <td class="monday">14h30</td>
              <td class="tue">14h30</td>
              <td class="wed">14h30</td>
              <td class="thu">14h30</td>
              <td class="fri">14h30</td>
              <td class="sat">14h30</td>
              <td class="sun">14h30</td>
            </tr>
            <tr>
              <td class="de">Allemand</td>
              <td class="monday">14h30</td>
              <td class="tue">14h30</td>
              <td class="wed">14h30</td>
              <td class="thu">14h30</td>
              <td class="fri">14h30</td>
              <td class="sat">14h30</td>
              <td class="sun">14h30</td>
            </tr>

          </tbody>

        </table>
      </div>
    </section>
    <section>
      <div class="tableau fourlembach prix">
        <table>

          <h3><caption>Prix</caption></h3>

          <thead>
            <tr>
             <th></th>
             <th>Prix</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Adulte</th>
              <td>7,00€</td>
            </tr>
            <tr>
              <th>Etudiant</th>
              <td>5,50€</td>
            </tr>
            <tr>
              <th>Ancien combattant</th>
              <td>5,50€</td>
            </tr>
            <tr>
              <th>Enfant (de 6 à 17 ans)</th>
              <td>4,50€</td>
            </tr>
            <tr>
              <th>Famille avec 1 enfant (6 à 17 ans)</th>
              <td>16,00€</td>
            </tr>
            <tr>
              <th>Famille avec 2 enfants (6 à 17 ans)</th>
              <td>19,00 € + 3,50 € par enfant supplémentaire</td>
            </tr>
            <tr>
              <th>Groupe adultes</th>
              <td>6,00€</td>
            </tr>
            <tr>
              <th>Groupe scolaires (de 6 à 17 ans)</th>
              <td>3,50€</td>
            </tr>
            <tr>
              <th>Forfait moins de 20 personnes</th>
              <td>140,00€</td>
            </tr>
            <tr>
              <th colspan="2">Billet combiné (Château Fort du Fleckenstein / Ligne Maginot - Four à Chaux)</th>
            </tr>
            <tr>
              <th>Adulte</th>
              <td>9,50€</td>
            </tr>
            <tr>
              <th>Jeune (6 à 17 ans)</th>
              <td>6,50€</td>
            </tr>

          </tbody>

        </table>
      </div>
    </section>
  </article>
</main>

