<header>
  <h1>Four à Chaux de Lembach</h1>
</header>
<main id="four_a_chaux_lembach">
  <section>
    <h2>Horaires et tarifs du Four à Chaux</h2>
    <h3>Horaires des visites</h3>
    <div class="tableau fourlembach">
      <table>

        <caption>Horaires des visites</caption>

        <thead>
          <tr>
           <th>Périodes</th>
           <th>Langue des visites</th>
           <th>Lundi</th>
           <th>Mardi</th>
           <th>Mercredi</th>
           <th>Jeudi</th>
           <th>Vendredi</th>
           <th>Samedi</th>
           <th>Dimanche</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <th scope="row" rowspan="2">Du 02/01/2019 au 31/03/2019</th>
            <td class="fr">France</td>
            <td class="monday"></td>
            <td class="tue"></td>
            <td class="wed"></td>
            <td class="thu"></td>
            <td class="fri"></td>
            <td class="sat">14h30</td>
            <td class="sun">14h30</td>
          </tr>
          <tr>
            <td class="de">Allemand</td>
            <td class="monday"></td>
            <td class="tue"></td>
            <td class="wed"></td>
            <td class="thu"></td>
            <td class="fri"></td>
            <td class="sat">14h30</td>
            <td class="sun">14h30</td>
          </tr>

          <tr>
            <th scope="row" rowspan="2">Du 01/04/2019 au 30/04/2019</th>
            <td class="fr">France</td>
            <td class="monday">14h00; 16h00</td>
            <td class="tue">14h00; 16h00</td>
            <td class="wed">14h00; 16h00</td>
            <td class="thu">14h00; 16h00</td>
            <td class="fri">14h00; 16h00</td>
            <td class="sat">14h00; 16h00</td>
            <td class="sun">14h00; 16h00</td>
          </tr>
          <tr>
            <td class="de">Allemand</td>
            <td class="monday">13h30; 15h30</td>
            <td class="tue">13h30; 15h30</td>
            <td class="wed">13h30; 15h30</td>
            <td class="thu">13h30; 15h30</td>
            <td class="fri">13h30; 15h30</td>
            <td class="sat">13h30; 15h30</td>
            <td class="sun">13h30; 15h30</td>
          </tr>

          <tr>
            <th scope="row" rowspan="2">Du 01/05/2019 au 30/09/2019</th>
            <td class="fr">France</td>
            <td class="monday">10h00; 14h00; 16h00</td>
            <td class="tue">10h00; 14h00; 16h00</td>
            <td class="wed">10h00; 14h00; 16h00</td>
            <td class="thu">10h00; 14h00; 16h00</td>
            <td class="fri">10h00; 14h00; 16h00</td>
            <td class="sat">10h00; 14h00; 16h00</td>
            <td class="sun">10h00; 14h00; 16h00</td>
          </tr>
          <tr>
            <td class="de">Allemand</td>
            <td class="monday">10h30; 13h30; 15h30</td>
            <td class="tue">10h30; 13h30; 15h30</td>
            <td class="wed">10h30; 13h30; 15h30</td>
            <td class="thu">10h30; 13h30; 15h30</td>
            <td class="fri">10h30; 13h30; 15h30</td>
            <td class="sat">10h30; 13h30; 15h30</td>
            <td class="sun">10h30; 13h30; 15h30</td>
          </tr>

          <tr>
            <th scope="row" rowspan="2">Du 01/10/2019 au 31/10/2019</th>
            <td class="fr">France</td>
            <td class="monday">14h00; 16h00</td>
            <td class="tue">14h00; 16h00</td>
            <td class="wed">14h00; 16h00</td>
            <td class="thu">14h00; 16h00</td>
            <td class="fri">14h00; 16h00</td>
            <td class="sat">14h00; 16h00</td>
            <td class="sun">14h00; 16h00</td>
          </tr>
          <tr>
            <td class="de">Allemand</td>
            <td class="monday">10h30; 13h30; 15h30</td>
            <td class="tue">13h30; 15h30</td>
            <td class="wed">13h30; 15h30</td>
            <td class="thu">13h30; 15h30</td>
            <td class="fri">13h30; 15h30</td>
            <td class="sat">13h30; 15h30</td>
            <td class="sun">13h30; 15h30</td>
          </tr>

          <tr>
            <th scope="row" rowspan="2">Du 01/11/2019 au 23/12/2019</th>
            <td class="fr">France</td>
            <td class="monday"></td>
            <td class="tue"></td>
            <td class="wed"></td>
            <td class="thu"></td>
            <td class="fri"></td>
            <td class="sat">14h30</td>
            <td class="sun">14h30</td>
          </tr>
          <tr>
            <td class="de">Allemand</td>
            <td class="monday"></td>
            <td class="tue"></td>
            <td class="wed"></td>
            <td class="thu"></td>
            <td class="fri"></td>
            <td class="sat">14h30</td>
            <td class="sun">14h30</td>
          </tr>

          <tr>
            <th scope="row" rowspan="2">Du 27/12/2019 au 30/12/2019</th>
            <td class="fr">France</td>
            <td class="monday">14h30</td>
            <td class="tue">14h30</td>
            <td class="wed">14h30</td>
            <td class="thu">14h30</td>
            <td class="fri">14h30</td>
            <td class="sat">14h30</td>
            <td class="sun">14h30</td>
          </tr>
          <tr>
            <td class="de">Allemand</td>
            <td class="monday">14h30</td>
            <td class="tue">14h30</td>
            <td class="wed">14h30</td>
            <td class="thu">14h30</td>
            <td class="fri">14h30</td>
            <td class="sat">14h30</td>
            <td class="sun">14h30</td>
          </tr>

        </tbody>

      </table>

    </div>
  </section>
</main>
