<% noindex %>
<main>
  <article class="article">
    <h1>La Ligne Maginot en Alsace</h1>
    <p>Find me in app/views/ligne_maginots/index.html.erb</p>
    <%= link_to 'Four à chaux lembach', four_a_chaux_lembach_path %>
    <%= link_to 'Casemate de Dambach Neunhoffen', dambach_path %>
  </article>
</main>
