// Variables

// Lisa Frank Color Palette
$pink:          #F83E7F;
$orange:        #ff7602;
$yellow:        #fefa27;
$green:         #48cfae;
$blue:          #0ea3b2;
$plum:          #7c2583;
$purple:        #752a8f;
$black:         #333333;
$red:           #f08080;
$grey:          #58575c;
$green:         #528b3c;
$dark-green:    #0f854a;
$light-green:   #a9c934;
$pink:          #debcb3;
$brown:         #774d2b;
$beige:         #d6c1a2;

@import url("https://fonts.googleapis.com/css?family=Muli:600|Source+Sans+Pro&display=swap");
$base-font: 'Avenir', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Caveat|Macondo+Swash+Caps|Comfortaa|Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Fuggles&display=swap');
