<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://github.com/thomas6791/photos-pays/blob/master/marche%CC%81-banner.jpg?raw=true)">
  <h1>Alimentation</h1>
</div>
