<div class="banner landing" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://github.com/thomas6791/photos-pays/blob/master/marche%CC%81-banner.jpg?raw=true)">
  <h1>Alimentation</h1>
</div>
<main id="alimentation">
  <h2>Marchés et producteurs locaux</h2>

  <h3>Marché hebdomadaire</h3>
  <p>Marché présent toutes les semaines le jeudi matin à Reichshoffen et le vendredi matin à Niederbronn-les-Bains, ce rendez-vous hebdomadaire est l’occasion d’acheter les fruits et légumes de saison, des plats plus exotiques tel que de la cuisine chinoise ou encore brésilienne mais également des vêtements, ustensiles de cuisine et bien d’autre d’objets de consommation courante.
  Le jeudi matin sa taille devient impressionnante, lorsque ce dernier occupe l’ensemble de la rue du Général Koenig de Reichshoffen et offre aux riverains l’occasion de se rencontrer tout en faisant leur achat.
  <div class="advice">
    <h2>Conseils:</h2>
    <ul>
      <li>Des places de parking sont disponibles à proximité pour chacune des villes.
      Pour Reichshoffen, il vaut mieux se garer sur le parking de la Castine.</li>
      <li>Pour prendre des plats chinois, il vaut mieux anticiper un peu son achat, une file d’attente se crée assez rapidement au fur et à mesure qu’on approche de midi.</li>
    </ul>
  </div>

  <h3>La Chèvrerie du Windstein</h3>
  <p></p>
  <h5>Adresse:</h5>
  <p>Route de Nehwiller, Lieu dit Welshhof, 67110 Windstein</p>
  <h2>Petites et grandes surfaces par ville</h2>
  <iframe src="https://www.google.com/maps/d/embed?mid=1o3HENahj7Bzq2-SEmjeihIDnmNNXfS9D"></iframe>
  <h3>Reichshoffen:</h3>

  <h4>Supermarché Match</h4>
  <h5>Adresse:</h5>
  <h5>Horaires d’ouvertures</h5>
  <ul>
    <li>Lundi: 08:00 - 19:30</li>
    <li>Mardi: 08:00 - 19:30</li>
    <li>Mercredi: 08:00 - 19:30</li>
    <li>Jeudi: 08:00 - 19:30</li>
    <li>Vendredi: 08:00 - 19:30</li>
    <li>Samedi: 08:00 - 19:30</li>
    <li>Dimanche: Fermé</li>
  </ul>

  <h4>Supermarché Intermarché</h4>
  <h5>Horaires d’ouvertures</h5>
  <ul>
    <li>Lundi: 08:00 - 19:30</li>
    <li>Mardi: 08:00 - 19:30</li>
    <li>Mercredi: 08:00 - 19:30</li>
    <li>Jeudi: 08:00 - 19:30</li>
    <li>Vendredi: 08:00 - 20:00</li>
    <li>Samedi: 08:00 - 19:00</li>
    <li>Dimanche: Fermé</li>
  </ul>

  <h4>Norma</h4>
  <h5>Horaires d’ouvertures</h5>
  <ul>
    <li>Lundi: 08:30 - 19:30</li>
    <li>Mardi: 08:30 - 19:30</li>
    <li>Mercredi: 08:30 - 19:30</li>
    <li>Jeudi: 08:30 - 19:30</li>
    <li>Vendredi: 08:00 - 19:30</li>
    <li>Samedi: 08:30 - 19:30</li>
    <li>Dimanche: Fermé</li>
  </ul>

  <h4>Lidl</h4>
  <h5>Horaires d’ouvertures</h5>
  <ul>
    <li>Lundi: 08:30 - 19:30</li>
    <li>Mardi: 08:30 - 19:30</li>
    <li>Mercredi: 08:30 - 19:30</li>
    <li>Jeudi: 08:30 - 19:30</li>
    <li>Vendredi: 08:30 - 19:30</li>
    <li>Samedi: 08:30 - 19:30</li>
    <li>Dimanche: Fermé</li>
  </ul>

  <h3>Niederbronn-les-Bains</h3>
  <h4>Supermarché Match</h4>
  <h4>Carrefour Express</h4>
  <h3>Gundershoffen</h3>
  <h4>Hyper U</h4>
  <h3>Woerth</h3>
  <h4>Super U</h4>
  <h3>Bitche</h3>
  <h4>Supermarché Match</h4>

  <h2>Boulangerie & Dép</h2>
  <h3>Niederbronn-les-Bains</h3>
  <h3>Reichshoffen</h3>
  <h3>Neunoffen</h3>
</main>

