<div class="banner landing" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://github.com/thomas6791/photos-pays/blob/master/europapark.jpg?raw=true)">
  <h1>Parc d'attractions & Aquatiques</h1>
</div>
<main class="landing">
    <ul class="sommaire">
      <li><a href="#europapark">Europa-Park</a></li>
      <li><a href="#rulantica">Rulantica</a></li>
      <li><a href="#didiland">Didiland</a></li>
      <li><a href="#badeparadise">Badeparadies schwarzwald</a></li>
    </ul>
  </article>
  <section>
    <h2 id="europapark">Europa-Park</h2>
  </section>
  <section>
    <h2 id="rulantica">Rulantica</h2>
  </section>
  <section>
    <h2 id="didiland">Didiland</h2>
  </section>
  <section>
    <h2 id="badeparadise">Badeparadies schwarzwald</h2>
  </section>
  </article>
</main>
