<div class="banner landing" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://github.com/thomas6791/photos-pays/blob/master/europapark.jpg?raw=true)">
  <h1>Parc d'attractions & Aquatiques</h1>
</div>
<main class="landing attractions">
    <ul class="sommaire">
      <li><a href="#europapark">Europa-Park</a></li>
      <li><a href="#rulantica">Rulantica</a></li>
      <li><a href="#didiland">Didiland</a></li>
      <li><a href="#badeparadise">Badeparadies schwarzwald</a></li>
    </ul>
  </article>
  <section>
    <h2 id="europapark">Europa-Park</h2>
    <div>
      <img src="https://github.com/thomas6791/photos-pays/blob/master/europapark.jpg?raw=true">
      <p>Parc</p>
    </div>
  </section>
  <section>
    <h2 id="rulantica">Rulantica</h2>
    <div class="">
      <img src="https://www.divertir.eu/medias/images/rulantica-parc-aquatique-europa-park.jpg">
      <p>Parc d'attraction</p>
    </div>
  </section>
  <section>
    <h2 id="didiland">Didiland</h2>
    <div>
      <img src="https://www.strasbourgcityguide.com/wp-content/uploads/cache/images/didiland/didiland-3296407446.jpg">
      <p>Parc</p>
    </div>
  </section>
  <section>
    <h2 id="badeparadise">Badeparadies schwarzwald</h2>
    <div>
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/0c/8e/4d/b6/20160816-134940-largejpg.jpg">
      <p>Parc</p>
    </div>
  </section>
  </article>
</main>
