<main>
  <article class="article">
    <header>
      <h1>Cures thermales et stations en Alsace</h1>
    </header>
    <p>La région Alsace comprend <b>deux</b> <strong>stations thermales</strong>, toutes les deux proposant des <strong>cures thermales en rhumatologie</strong>. Ainsi les personnes atteintes de douleurs articulaires ou de douleurs liées à des traumatismes, trouveront aisément en Alsace des soins appropriés dans le traitement de leurs douleurs grâce aux soins prodigué par la <strong>cure</strong> via l’application des bienfaits des eaux de source.</p>
    <h2>Quelles sont les stations thermales présentes en Alsace ?</h2>
    <p>Les deux centres proposant des <strong>cures thermales en Alsace</strong> se trouvent toutes les deux dans le territoire des Vosges du Nord d'Alsace situé dans le Bas-Rhin, à quelques kilomètres de la frontière lorraine et allemande.<br>Ces deux stations thermales sont celle de <b>Niederbronn-les-Bains</b> et de <b>Morsbronn-les-Bains</b> disposant chacune de leur propre eau de source pour appliquer les soins qu'elles proposent.<br> Ces deux stations hormis qu'elles proposent toutes les deux des soins dans le traitement des rhumatismes sont toutes les deux membres du groupe Valvital.</p><br>
    <h3>Faire une cure thermale à Niederbronn-les-Bains</h3>
    <p></p>
    <h3>Aller à la station thermale de Morsbronn-les-Bains</h3>
    <p></p>
  </article>
</main>

