<main>
  <article class="article lieux-vosges">
    <h1>Top 20 des lieux à voir dans les Vosges du Nord</h1>
    <section class="lieu">
      <div>
        <h2>Wegelnburg</h2>
        <p>Pour les motivé se levant avant l’aube, une ascencion de 30 - 40min depuis le château du Fleckenstein vers le château du Wegelnburg vous offrira une superbe vue sur la palatinat. Un petit conseil, vérifier la météo afin de vous lancer dans cette aventure.</p>
      </div>
      <%= image_tag "top/wegelnburg.png", class: "", data: {}, width: 400 %>
    </section>
    <section class="lieu">
      <div>
        <h2>Altschlossfelssen</h2>
        <p>Pour les motivé se levant avant l’aube, une ascencion de 30 - 40min depuis le château du Fleckenstein vers le château du Wegelnburg vous offrira une superbe vue sur la palatinat. Un petit conseil, vérifier la météo afin de vous lancer dans cette aventure.</p>
      </div>
      <%= image_tag "top/altschlosfelssen.png", class: "", data: {}, width: 400 %>
    </section>
    <section class="lieu"></section>
    <section class="lieu"></section>
    <section class="lieu"></section>
  </article>
</main>
