<main>
  <article class="article">
    <h1>Locations pour cure thermale à Niederbronn-les-Bains</h1>
    <p>Trouver une <strong>location pour votre séjour en cure thermale à Niederbronn-les-Bains</strong>. Les hébergements proposés, de tout type, ont été pensé pour les longs séjours des curistes, à bonne distance de l'établissement de cure. Chaque <strong>location</strong> permet aux <strong>curistes</strong> de profiter de leur séjour thermal mais également de profiter des attraits touristiques de la région.</p>
    <%= render partial: 'rentings/rentings', locals: {rents: @annonces } %>
  </article>
</main>
