<main>
  <article class="article">
  <h1>Station thermale de Niederbronn-les-Bains, établissement de cure en Alsace</h1>

  <p>Située dans le nord de l’Alsace, à côté du Parc national des Vosges du Nord, la <strong>station thermale de Niederbronn-les-Bains</strong> est une des rares présente dans la région où il est possible d’effectuer une <a href="https://www.paysniederbronn.fr/cures-thermales">cure conventionnée</a>.
  Sa situation offre aux curistes y séjournant l’opportunité de découvrir les différentes facettes que propose l’Alsace en vivant un séjour riche en histoire, gastronomie et folklore mais également un séjour nature avec la découverte du massif des vosges et ses randonnées forestières sur ses hauteurs.</p>

  <h2>Une station avec une histoire ancrée dans le thermalisme</h2>
  <p>Mais si la <strong>station thermale de niederbronn-les-bains</strong> se démarque des autres stations, c’est également par l’histoire de sa ville, foncièrement ancrée dans le <strong>thermalisme</strong>.<br>
  En effet, les eaux thermales de Niederbronn sont utilisées depuis l’Antiquité avec un usage fait par les Romains il y a déjà plus de 2000 ans et qui par héritage donna un nom à la source, aujourd’hui « la romaine ».</p>

  <p>La nature et la composition de son eau thermale est à a fois chlorurée, sodique et carbo-gazeuse.<br>
  Sa composition unique est notamment indiquée pour soigner les rhumatismes et les traumatismes articulaires.</p>

  <h2>Quels sont les types de soins proposés ?</h2>

  <h2>Quand est-ce que les cures se déroulent ?</h2>
  <p>Les soins de cure sont proposés:
  <ul>
    <li>En 2019: Du 25 mars au 7 décembre du lundi au vendredi de 8h à 17h.</li>
    <li>En 2020: Du 23 mars au 5 décembre du lundi au vendredi de 8h à 17h.
    </li>
  </ul>
  </p>


  <h2>Comment s’y rendre ?</h2>
  <p>La station thermale de niederbronn-les-bains est très bien desservie par de nombreux moyens de transport.<br>
  Pour venir:</p>
  <ul>
    <li>En train: Venir jusqu’à Strasbourg, puis prendre la ligne SNCF Strasbourg - Niederbronn.</li>
    <li>En voiture: Autoroute A34, sortie Brumath Nord, direction Haguenau, puis Niederbronn-les-Bains.</li>
    <li>En avion: Aéroport international de Strasbourg à 45 km.</li>
  </ul>

  <h3>Autres services à proximité ou sur le trajet:</h3>
  <p>Service d’autopartage:
  <ul>
    <li>Services d’autopartage: Citiz</li>
    <li>Service de location de voiture entre particuliers: Drivy, Koolicar</li>
    <li>Location de voiture en agence :….</li>
    <li>Service de covoiturage: Bla Bla Car</li>
  </ul>
  </p>


  <p>Voir également:
    <a href="https://www.paysniederbronn.fr/cures-thermales/station-thermale-morsbronn">La station thermale de morsbronn-les-bains</a>
  </p>
  </article>
</main>
