<main>
  <article class="article">
    <h1>Station thermale de Morsbronn-les-Bains, centre de cure en Alsace</h1>
    <p>L’<strong>établissement de cure thermale de Morsbronn-les-Bains</strong>, situé dans un cadre verdoyant, au pied du <b>Parc Régional des Vosges du Nord d’</b><strong>Alsace</strong> dans le Bas-Rhin, saura offrir un séjour particulier et plein de richesses aux curistes se déplaçant dans cette <a href="https://www.paysniederbronn.fr/blog/stations-thermales-alsace">station thermale alsacienne</a>.</p>

    <h2>Nature des eaux thermales de Morsbronn-les-Bains</h2>
    <p>Les eaux thermales de Morsbronn-les-Bains proviennent de deux sources. La première « Les cuirassiers » à une température de 38,9°C puisée à 400 mètres de profondeur. La seconde « Saint-Arbogast » à 41,9°C est elle puisée à 670 mètres.<br>
    <br>
    Ces deux captages d’eau donnent à l’établissement thermal un débit naturel et abondant en eau chaude et chargée en chlorure de sodium, calcium, magnésium et souffre.
    Les oligo-éléments présents dans ces eaux permettent d’appliquer des soins relatifs à la rhumatologie et soulagent également le stress des curistes présents.</p>
    <h2>Les cures thermales proposées par l'établissement</h2>
    <p>La cure thermale de Morsbronn-les-Bains ne propose qu'un seul type de cure conventionnée de 18 jours à laquelle peut s'ajouter des cures complémentaires.<br>
    La cure de 18 jours concerne la <strong>Rhumatologie (RH)</strong>, elle traite les pathologies suivantes:</p>
    <ul>
      <li>Arthrose vertébrale, cervicale ou lombaire, de la hanche ou du genou</li>
      <li>Polyarthrite chronique évolutive</li>
      <li>Rhumatismes chroniques</li>
      <li>Névralgies, sciatiques</li>
      <li>Séquelles de traumatisme</li>
      <li>ostéo-articulaire</li>
      <li>Fibromyalgie</li>
    </ul>
    <h3>Les cures complémentaires à la cure de 18 jours</h3>
    <ul>
      <li>Fibromyalgie</li>
      <li>Post-cancer du sein</li>
      <li>Arthrose des mains</li>
      <li>Mieux bouger</li>
    </ul>
    <h3>Les autres cures de 6 à 12 jours</h3>
    <ul>
    <li>Orientation simple en rhumatologie</li>
    </ul>
    </p>
    <h2>Les soins d’hydrothérapie proposés:</h2>
    <ul>
      <li>Bains avec aérobain</li>
      <li>Bains avec douche en immersion</li>
      <li>Bain local (couloir de marche)</li>
      <li>Douche locale (mains et pieds)</li>
      <li>Douche générale (spinale)</li>
      <li>Douche au jet d’eau</li>
      <li>Douche sous immersion en piscine</li>
      <li>Piscine thermale</li>
      <li>Application de boue</li>
      <li>Bain de vapeur collectif</li>
    </ul>
    <h2>Horaires et Dates d'ouverture</h2>
    <p>Pour l'année 2020, les cures ont lieu du 9 mars au 5 décembre 2020.</p>p>
    <h3>Les horaires de l'établissement</h3>
    <ul>
      <li>Lundi: de <time>8:00</time> à <time>12:00</time> et de <time>13:30</time> à <time>17:00</time></li>
      <li>Mardi: de <time>8:00</time> à <time>12:00</time> et de <time>13:30</time> à <time>17:00</time></li>
      <li>Mercredi: de <time>8:00</time> à <time>12:00</time> et de <time>13:30</time> à <time>17:00</time></li>
      <li>Jeudi: de <time>8:00</time> à <time>12:00</time> et de <time>13:30</time> à <time>17:00</time></li>
      <li>Vendredi: de <time>8:00</time> à <time>12:00</time> et de <time>13:30</time> à <time>17:00</time></li>
      <li>Samedi: de <time>8:00</time> à <time>12:00</time> et de <time>13:30</time> à <time>17:00</time></li>
      <li>Dimanche: de <time>8:00</time> à <time>12:00</time> et de <time>13:30</time> à <time>17:00</time></li>
    </ul>

    <h2>Histoire de la station thermale</h2>
      <p>
      Le statut de station thermale pour la ville de Morsbronn est quelques peu récent et accidentel.
      Depuis le Moyen-Âge, on exploitait les sols à Pechelbronn pour extraire des schistes bitumeux. Avec le développement de l’industrie au début du 20ème, différents forages furent faits pour mettre à jour exploiter des gisements de pétrole.<br>
      Durant l’occupation allemande, en 1904, lors d’un énième forage pour découvrir du pétrole, on découvre non pas de l’or noir mais de l’eau dont sa nature possède les caractéristiques d’une <strong>eau thermale</strong>.<br>
      Un établissement de bain fût construit après cette découverte mais il a fallu attendre le 19 janvier 1929 après que l’Alsace redevienne française pour que Morsbronn devienne la <strong>station thermale de Morsbronn-les-Bains</strong>.<br>
      <br>
      En 1951, l’établissement de cure est racheté par la Caisse d’Assurance Maladie avec pour objectif le développement d’un thermalisme social, offrant l’opportunité à la classe moyenne, disposant de revenus modestes voir faibles d’accéder à ce type de soins thérapeutiques.<br>
      En 2013, après décision de la Caisse d’Assurance Maladie de ne plus exploiter l’établissement, la source est rachetée par la société <strong>Valvital</strong> qui propose alors de développer l’activité thermale de la ville en construisant un nouvel établissement et en diversifiant l’offre des soins proposée.<br>
      <br>
      Aujourd'hui la station accueille près de 4000 curistes à l'année et représente près des deux tiers de l'activité thermale en Alsace.
      </p>
    <h2>Localisation</h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2622.449882809954!2d7.745715915885864!3d48.90682037929232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479692709b499319%3A0x7402b4f745edd20d!2sValvital%20-%20Thermes%20de%20Morsbronn-les-Bains!5e0!3m2!1sfr!2sfr!4v1586864199941!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

      <p>
      44 km de Strasbourg
      291 km de Besançon
      145 km de Stuttgart
      492 km de Paris
      </p>
    <h3>Par la route</h3>
      <p>Autoroute A4, prendre la direction Haguenau, puis la sortie Haguenau-Ouest et Nord, puis la sortie Morsbronn-les-Bains. </p>

    <h3>Par le rail</h3>
      <p>TGV Est Paris-Strasbourg / Ena gare de Haguenau, bus Réseau 67, ligne 310 en direction de Lembach : arrêt devant l'établissement.</p>

    <h3>Par avion</h3>
      <p>Aéroport international de Strasbourg à 35 km.
    </p>

    <h2>Tourisme</h2>
  </article>
</main>
