#four_a_chaux_lembach {
  table {
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
  }
  td, th {
    border: 1px solid black;
  }
  caption {
    font-size: 1.2em;
  }
  .fr, .de { text-align: center; }
}
