.blog {
  min-height: 100vh;
  .content { margin: 20px 0px; }
  .post-categories {
    margin-bottom: 15px;
    span {
      border: solid 2px lightseagreen;
      border-radius: 25px;
      padding: 5px 10px;
    }
  }
}
