.blog {
  min-height: 100vh;
  .content { margin: 20px 0px; }
  .post-categories {
    margin-bottom: 15px;
    span {
      border: solid 2px lightseagreen;
      border-radius: 25px;
      padding: 5px 10px;
    }
    hr { color: lightseagreen; }
  }
  .float-text {
    border: solid 2px lightseagreen;
    border-radius: 5px;
    padding: 10px;
    word-break: break-word;
    font-size: 1.1em;
    max-width: 30%;
    font-weight: bold;
    &.right {
      float: right;
      margin: 10px 0px 10px 10px;
    }
    &.left {
      float: left;
      margin: 10px 10px 10px 0px;
    }
  }
  .float-text + h2 { clear: both; }
}
.articles-list {
  li {
    list-style-type: none;
    margin: 0px;
    a {
      border: solid 2px lightseagreen;
      padding: 10px;
      border-radius: 5px;
      color: black;
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  article {
    .image-float {
      float: none;
      margin: 0px 0px 0px 0px !important;
    }
  }
  .blog .float-text.right {
    float: none;
    width: 100%;
    display: block;
    min-width: 90%;
  }
  .blog .float-text.left {
    float: none;
    width: 100%;
    display: block;
    min-width: 90%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

