@import "config/colors";
#home-banner {
  //background-image: url('/assets/wintersberg-top.jpg');
  background: url(asset_path('wintersberg-top.jpg'));
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    h1 {
      margin: 0;
      color: white;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-size: 40px;
      font-weight: bold;
      bottom: 30vh;
      align-self: center;
      font-family: 'Caveat', cursive;
      padding: 0px 15px;
    }
    h2 {
      font-size: 20px;
      color: white;
      opacity: .7;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      padding: 0px 40px;
    }
  }
}
#home {
  padding: 0px;
  article { padding-top: 20px; }
  section { display: flex; margin: 50px 0px;
    img {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      border-radius: 3px;
    }
    a {
      border: solid 2px;
      border-radius: 15px;
      padding: 3px 15px;
      text-decoration: none; color: $green;
      &:hover { background-color: $green; border: solid 2px $green; color: white; }
    }
  }
  h2 {
    font-size: 2em;
    span {
      font-family: 'Caveat', cursive;
      box-shadow: inset 0 -8px 0 white, inset 0 -15px 0 $blue;
      &.green { box-shadow: inset 0 -8px 0 white, inset 0 -15px 0 $light-green; }
      &.pink { box-shadow: inset 0 -8px 0 white, inset 0 -15px 0 $pink; }
    }
  }
  section:nth-child(odd) {
    flex-direction: row-reverse;
    img {
      margin-right: 10px;
    }
  }
  section:nth-child(1) { margin: 0px; }
  section > div { word-wrap: break-word; max-width: 100%;
    p { margin-bottom: 20px; }
  }

}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  #home-banner {
    height: 100vh;
    div {
      padding-bottom: 30px;
    }
  }
  #home {
    z-index: 10;
    article { padding: 0px 10px; }
    section {
      margin: 10px 0px;
      flex-drection: colum;
      flex-wrap: wrap;
      div { margin-bottom: 20px; }
      img { width: 100%; max-width: 100%; }
    }
    section:nth-child(1), section:nth-child(odd) {
      img { margin: 0px; }
      margin: 0px;
    }
    section:nth-child(1) { margin-top: 20px; }
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

@media print {
  #mobile { display: none; }
}

