@media print {
  @page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
  }
  body {
    height: auto;
  }
  .invoice {
    h1, .calcul, a {
      height: 0px;
      opacity: 0;
    }
    #facture {
      box-shadow:none;
      font-size: 1.5em;
      width: 210mm;
      height: 297mm;
    }
    a[href]:after { content: none !important; }
    img[src]:after { content: none !important; }

  }
  footer {
    height: 0px;
    opacity: 0;
    visibility: hidden;
  }
  nav {
    visibility: hidden;
    height: 0px;
    opacity: 0;
  }

}
