#simulator { min-height: 100vh;
  h2 { text-align: center; }
}

.simulator-datas {
  display: flex;
  justify-content: center;
  p { padding: 10px; font-weight: bold; }
}
.tableau-simulator {
  display: flex;
  justify-content: center;
  table {
    border-collapse: collapse;
    width: auto;
  }
  td, th {
    border: 1px solid black;
    font-size: 0.8em;
    font-size: 1em;
    text-align: center;
    padding: 5px;
  }
}
#results-town {
  margin-top: 20px;
  .tableau-simulator {
     margin: 10px 0px;
  }
}
#taxe-invoice {
  display: flex;
  justify-content: center;
}
#facture {
  h2 { text-align: center; }
  padding: 25px 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
  .details {
    div {
      display: flex;
      justify-content: space-between;
      margin: 10px 0px;
      border-bottom: solid 1px;
      p:nth-child(1) {}
      p:nth-child(2) {
        padding: 0px 0px 0px 30px;
      }
    }
    .amount-taxe {}
  }
  a {
    color: lightseagreen;
    font-weight: bold;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}
.calcul {
  display: flex;
  justify-content: center;
  margin: 25px 0px;
  form {
    border-radius: 3px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    padding: 25px 30px;
    position: relative;
    h2 {
      font-size: 1em;
      position: absolute;
      padding: 2px 30px;
      width: auto;
      top: -15px;
      align-self: center;
      background-color: white;
      border-radius: 25px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    label { font-weight: bold; margin-right: 10px; }
    div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    input {
      font-size: 1em;
      border: none;
      border-bottom: solid 1px lightgrey;
      text-align: center;
    }
    input:focus {
      outline: none;
    }
    input[type="submit"]{
      margin-top: 10px;
      cursor:pointer;
      font-size: 1em;
      line-height: 2em;
      border-radius: 3px;
      background-color: lightseagreen;
      border: solid lightseagreen 1px;
      color: white;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
@media (min-width: 100px) and (max-width: 575px) {
  #calcul > form {
    h2 { font-size: 0.8em; top: -12px; }
  }
}
