.tableau {
  display: flex;
  flex-direction: column;
  border: solid 1px;
  .entete, .results { display: inline-flex; }
  .entete p, .results p {  display: flex; min-width: 90px; border: solid 1px; align-self: center; }
  .entete p:first-of-type, .results p:first-of-type { width: 100px; border: solid 2px red; align-self: center; }
}
#calcul {
  display: flex;
  justify-content: center;
  margin: 25px 0px;
  form {
    border: solid 1px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    padding: 20px;
    label { font-weight: bold; margin-right: 10px; }
    div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    input[type="submit"]{
      margin-top: 10px;
      cursor:pointer;
      font-size: 1em;
      line-height: 2em;
      border-radius: 3px;
      background-color: lightseagreen;
      border: solid lightseagreen 1px;
      color: white;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
