<h1>Owner</h1>
<%= @user %>
<ul>
 <% @annonces.each do |annonce| %>
  <li><%= annonce.titre %></li>
 <% end %>
</ul>
<section class="cards-renting">
  <%= render partial: 'rentings/rentings', locals: {annonces: @annonces } %>
</section>

