<main class="home double">
  <h1>Gîtes & meublés de tourisme Heidelbeere</h1>
  <a href="http://www.paysniederbronn.fr/">Pays Niederbronn</a>
  <article>
    <section class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.4)), url(https://github.com/thomas6791/photos-pays/blob/master/chambre_bleu.jpg?raw=true);">

      <div class="container">
        <h2>Grand appartement de 100m<sup>2</sup></h2>
        <p class="text">Un grand appartement de charme avec une suface de 100m<sup>2</sup> pouvant accueillir 4 personnes.</p>
        <a href="" class="grey">En savoir plus</a>
      </div>
    </section>
    <section class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.4)), url(https://www.madeinalsace.com/wp-content/uploads/2018/07/centreville.jpg);">
      <div class="container">
        <h2>Studio meublé</h2>
        <p class="text">Studio meublé pour 2 à 3 personnes avec accès au jardin.</p>
        <a href="" class="grey">En savoir plus</a>
      </div>
    </section>
  </article>
</main>

