<main id="home">
  <h1>Gîtes & meublés de tourisme Heidelbeere</h1>
  <a href="http://www.paysniederbronn.fr/">Pays Niederbronn</a>
  <article>
    <section>
      <div>
        <h2>Grand appartement de 100m2</h2>
        <a href="" class="grey">En savoir plus</a>
      </div>
    </section>
    <section>
      <div>
        <h2>Studio meublé</h2>
        <a href="" class="grey">En savoir plus</a>
      </div>
    </section>
  </article>
</main>
