<main>
  <article>
    <h1><%= @name.html_safe %></h1>
    <section>
      <h2>Equipement</h2>
      <div>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </section>
  </article>
</main>
