<main>
  <article>
    <h1><%= @name.html_safe %></h1>
    <section class="gite description">
      <p>Ce <strong>gîte</strong> d'une surface de  100m<sup>2</sup> situé au Nord de l'Alsace au coeur du Parc Naturel des Vosges du Nord saura offrir le confort et les conditions idéales pour passer un séjour idéal à toute personne souhaitant visiter la région.<br>
      Sa situation en Alsace permet de d'accéder facilement aux nombreuses richesses dont bénéficie la région mais également de pouvoir visiter les régions pays limitrophes.<br>
      En effet, le gîte se situe à la frontière alsacienne, lorraine et allemande. Toute personne souhaitant diversifier ses visites aura à sa disposition de nombreux choix.
      </p>
      <h2>Un gîte pensé pour tout type de séjour</h2>
      <h3>Les tarifs en 2019 charges comprises:</h3>
      <ul>
        <li>La nuitée: 70,00€ pour 2 personnes + 10,00€/pers. supplémentaire</li>
        <li>Le week-end(vendredi à dimanche): 150,00€ de 1 à 4 personnes.</li>
      </ul>
        <h4>Les tarifs à la semaine en <b>basse saison</b>:</h4>
        <ul>
          <li>1 semaine (basse saison): 320,00€</li>
          <li>2 semaines (basse saison): 600,00€</li>
        </ul>
        <h4>Les tarifs à la semaine en <b>haute saison</b>:</h4>
        <ul>
          <li>1 semaine (haute saison: Juillet à Août): 370,00€</li>
          <li>2 semaines (haute saison: Juillet à Août): 700,00€</li>
        </ul>
      <h2>Un hébergement adéquate pour les curistes</h2>
      <p>Ce <strong>gîte meublé</strong>, à une dizaine de kilomètres des stations thermales de Niederbronn-les-Bain et de Morsbronn-les-Bains peut être le pied à
      La capacité du gîte peut accueillir pas moins de 4 personnes en mettant à disposition tout le confort possible.<br>
      Situé au second et dernier étage, cet appartement comporte deux chambres:
      <ul>
        <li>Une chambre avec un lit double.</li>
        <li>L'autre avec deux lits individuels.</li>
      </ul>
      </p>
    </section>
    <section>
      <h2>Un gîte pensé pour tout type de séjour</h2>
      <div class="sejours">
        <div>
          <h3>Un meublé idéal pensé pour les couples</h3>
          <p>zfneiorghuerguerbergbeugbrib</p>
        </div>
        <div>
          <h3>Un appartement pour les séjours en famille</h3>
          <p>gergergre</p>
        </div>
        <div>
          <h3>Un séjour pour les curistes</h3>
          <p>fzgregergerg</p>
        </div>
      </div>
    </section>
    <section>
      <h2>Equipement</h2>
      <div>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </section>
  </article>
</main>
