<% title @article.title %>
<% description @article.description %>
<link rel="canonical" href="<%= "#{request.protocol}#{request.host}#{request.path}" %>">
<% set_meta_tags alternate: { "#{locale.to_s}" => "http://www.paysniederbronn.fr/#{locale.to_s}/#{@article.category.name.parameterize}/#{@article.slug}" } %>
<main>
  <article class="article">
    <header>
      <h1><%= @article.titre %></h1>
    </header>

    <section>
      <%= @article.content.html_safe %>
    </section>
  </article>
</main>

