<main>
  <article>
    <header>
      <h1>Appartement meublé de 100m<sup>2</sup></h1>
    </header>
    <section>
      <%= image_tag "heidelbeere/chambre-bleue.jpg", class: 'card' %>
      <%= link_to 'subdomain', sub_heidelbeere_url(subdomain: :gites_heidelbeere) %>
      <%= image_tag "heidelbeere/balcon.jpg", width: 300 %>

    </section>
    <section>
    </section>

    <footer>
    </footer>

  </article>
</main>

