<h1>Appartement meublé de 100m<sup>2</sup></h1>
<%= link_to 'subdomain', sub_heidelbeere_url(subdomain: :gites_heidelbeere) %>
<%= image_tag "heidelbeere/balcon.jpg", width: 300 %>
<%= image_tag "heidelbeere/chambre-bleue.jpg", width: 300 %>
