<% title "#{}" %>
<% description "#{}" %>
<main class="blog">
  <article class="article">
    <header>
      <h1><%= categorie.titleize %></h1>
      <p><%= @text %></p>
    </header>

      <section class="articles-list">
        <ul>

        </ul>
      </section>
  </article>

</main>
