<main class="">
  <article class="article">
    <header>
      <h1>Le Blog</h1>
    </header>

      <section class="">
        <ul>
          <% @posts.each do |post| %>
            <li><%= link_to post.titre, blog_post_path(post) %></li>
          <% end %>
        </ul>
      </section>
  </article>

</main>
