<% title "Le blog du pays de Niederbronn-les-Bains - actualités, études, think thank" %>
<% description "Accéder aux dernières actualités, études, idées dans le tourisme et la vie économique et locales" %>
<% set_meta_tags canonical: "https://www.paysniederbronn.fr/fr/blog" %>
<main class="blog">
  <article class="article">
    <header>
      <h1>Le Blog</h1>
    </header>

      <section class="articles-list">
        <ul>
          <% @posts.each do |post| %>
            <li><%= link_to blog_post_path(post) do %>
              <p><%= post.titre %></p>
              <p><%= post.custom_date.strftime("%d/%m/%y") %></p>
              <% end %>

            </li>
          <% end %>
        </ul>
      </section>
  </article>

</main>
