<% title "Thermalisme - Qu'est-ce que c'est ?" %>
<% description "#{}" %>
<main class="blog">
  <article class="article">
    <header>
      <h1><span class="blue">Qu'est-ce que le thermalisme ?</span></h1>
      <p>Le <strong>thermalisme</strong> est l'utilisation des eaux minérales ou des eaux thermales à des fins thérapeutiques tel que dans les cures thermales afin de soigner diverses pathologies.<br>Celles-ci peuvent également être utilisées à des fins récréatives avec pour but le bien-être, la détente ou la relaxation des personnes.</p>
    </header>
    <section>
      <h2>Quelles sont les différences entre le thermalisme et la thalasso ?</h2>
      <p>Bien que la thalasso et le <strong>thermalisme</strong> sont toutes les deux des pratiques ayant pour finalités d'apporter des soins thérapeutiques.<br>Cependant la différence entre les deux se trouve dans les eaux qu'elles utilisent dans les soins thérapeutiques qu'elles apportent. La thalasso utilise l'eau de mer et le climat marin pour prodiguer des soins alors que le thermalisme ou la <strong>cure thermale</strong> utilise de l'eau minérale naturelle pour soigner les patients.<br>
      De part la nature des eaux qu'elles utilisent, les centres de cure thermale se trouvent ainsi dans les terres là où les thalassos se trouvent au bord de la mer.
      </p>
    </section>

      <section class="articles-list">
        <ul>
          <% @posts.each do |post| %>
            <li><%= link_to blog_post_path(post) do %>
              <p><%= post.titre %></p>
              <p><%= post.custom_date.strftime("%d/%m/%y") %></p>
            <% end %>
            </li>
          <% end %>
        </ul>
      </section>
  </article>

</main>
