<% title "Thermalisme - Qu'est-ce que c'est ?" %>
<% description "#{}" %>
<main class="blog">
  <article class="article">
    <h1><span class="blue">Qu'est-ce que le thermalisme ?</span></h1>
    <p>Le <strong>thermalisme</strong> est l'utilisation des eaux minérales ou des eaux thermales à des fins thérapeutiques notamment lors d'une <a href="https://www.paysniederbronn.fr/cures-thermales">cure thermale</a> afin de soigner diverses pathologies.<br>Celles-ci peuvent également être utilisées à des fins récréatives avec pour but le bien-être, la détente ou la relaxation des personnes.</p>
    <section>
      <h2>Quelles sont les différences entre le thermalisme et la thalasso ?</h2>
      <p>Bien que la thalasso et le <strong>thermalisme</strong> sont toutes les deux des pratiques ayant pour finalités d'apporter des soins thérapeutiques. Ces soins sont respectivement apportés dans les stations thermales ou centre de cure thermale et dans un centre de thalasso.<br>Cependant la différence entre les deux se trouve dans les eaux qu'elles utilisent dans les soins thérapeutiques qu'elles apportent. La thalasso utilise l'eau de mer et le climat marin pour prodiguer des soins alors que le thermalisme ou la <strong>cure thermale</strong> utilise de l'eau minérale naturelle pour soigner les patients.<br>
      De part la nature des eaux qu'elles utilisent, les centres de cure thermale se trouvent ainsi dans les terres là où les thalassos se trouvent au bord de la mer.
      </p>
      <h2>Quels sont les pathologies soignées par le thermalisme ?</h2>
      <p></p>
      <p>Est-ce que les cures thermales sont prises en charge par la sécurité sociale ?</p>

      <h2>Où est-il possible de faire une cure thermale en France ?</h2>
      <p>Le nombre actuel de stations où il est possible de faire une cure thermale en France est aujourd'hui de 108<br>
      Leur situation est répartie selon les régions. Certaines en ayant un nombre important, tel que la région Aquitaine avec pas moins de 27 centres de cure thermale. Alors que d'autres n'en dispose que de très peu voir aucun, tel que la Corse avec une station.
      <a href="#">voir les stations thermales par région</a>
      <ul>Région Grand Est:</ul>
      <li>Alsace : 2</li>
      <li>Lorraine: 5</li>
      <li>Champagne-Ardennes: 1</li>

      <ul>Bourgogne - Franche-Comté</ul>
      <li>Franche-Comté: 3</li>
      <li>Bourgogne: 3</li>

      <ul>Auvergne - Rhône-Alpes</ul>
      <li>Rhônes-Alpes: 15</li>
      <li>Auvergne: 10</li>

      <p>Provence -  Alpes - Côte d'Azur: 4</p>
      <p>Corse: 1</p>

      <ul>Occitanie:</ul>
      <li>Langedoc Roussillon: 12</li>
      <li>Midi-Pyrenees: 18</li>

      <ul>Nouvelle Aquitaine:</ul>
      <li>Aquitaine: 27</li>
      <li>Poitou-Charentes: 4</li>
      <li>Limousin: 1</li>

      <p>Centre : 0</p>
      <p>Ile-de-France: 1</p>
      <p>Bretagne: 0</p>
      <p>Pays de La Loire: 0</p>

      <ul>Normandie:</ul>
      <li>Basse-Normandie: 1</li>
      <li>Haute-Normandie: 0</li>

      <ul>Hauts de France:</ul>
      <li>Picardie: 0</li>
      <li>Nord-Pas-De-Calais: 1</li>

      </p>
      <p>stations thermales en France par région -> lien vers stations thermales en France OU -> stations thermales en France.</p>
      <h2></h2>

    </section>

    <section class="articles-list">
      <ul>
        <% @posts.each do |post| %>
          <li><%= link_to blog_post_path(post) do %>
            <p><%= post.titre %></p>
            <p><%= post.custom_date.strftime("%d/%m/%y") %></p>
          <% end %>
          </li>
        <% end %>
      </ul>
    </section>
  </article>

</main>
