<main>
  <h1><%= @name.html_safe %></h1>
  <section class="gite description">
    <p>
      Ce logement situé au coeur du parc régional des Vosges du Nord à Neunhoffen à 10 minutes de Niederbronn-les-Bains et de ses cures thermales ainsi qu’à 10min. de Reichshoffen, offre toutes les fonctionnalités pour passer un agréable séjour.

      Description

      Ce meublé d’environ 35m² bien aménagé est idéal pour 2 voir 3 personnes. Equipé de 2 lits simples accolés pouvant se séparer, il dispose également d’un canapé convertible.

      Parmi les autres équipements on retrouvera bien sûr une cuisine tout équipé avec frigo de grande capacité, un four, une plaque à induction (équipement fournis), une hotte, un micro-onde, une machine à café senseo, un grille-pain, un évier, etc..

      Au niveau de la salle de bain, il est mis à disposition une douche, des toilettes, un lavabo, miroir, sèche-cheveux.

      Le meublé dispose également d’une tv hd ainsi qu’internet raccordé à la fibre.

      Au niveau de l’extérieur et de l’accès au jardin, une grande table avec chaises et un parasol sont mis à disposition ainsi que de 2 allonges. Le barbecue est disponible sur demande.

      Wi-Fi gratuit et illimité, lit parapluie disponible sur demande.
      Linge de lit et serviettes incluses dans le tarif.

      Les activités aux alentours:
      Cures Thermales, Casino, visite de châteaux, randonnées, piscine, accrobranche, minigolf, karting, ligne maginot, la pratique du vtt, visite de Strasbourg

      Tarifs:
      Basse Saison:
      -1 Nuitée: 35€ pour une personne +10€ par personnes supplémentaires
      -Week-End: 80€
      -Semaine: 200€
      -2 semaines: 380€
      -3 semaines: 530€

      Haute Saison(juillet-août):
      -1 Nuitée: 35€ pour une personne +10€ par personnes supplémentaires
      -Week-End: 90€
      -Semaine: 220€
      -2 semaines: 400€
      -3 semaines: 550€

      Taxe de séjour à inclure en sus.

      Pour aller plus loin:

      Situé à la campagne dans le village de la myrtille de Dambach-Nenhoffen, vous pourrez cueillir bien sûr des myrtilles en été mais aussi découvrir les Highlands Catles, des vaches écossaises très atypique. Sa proximité avec Niederbronn-les-Bains, permet aux curistes de passer un séjour à bas prix.
      Le gîte, très proche de la frontière Lorraine et Allemande permet aux touristes d’aller librement vers:
      -Le magasin d’usine de Zweibrucken à 43min de route
      -Le site verrier de Meisenthal
      -Strasbourg et son célèbre marché de Noël à 60km
      -De visiter les châteaux Forts du Schoeneck, du Fleckenstein (à Lembach), du Wasigenstein, du Liebfrauenberg, du Waldeck, du Wineck, du Windstein.
      -De visiter la Citadelle de Bitche
      -De nombreux restaurants dont 3 restaurants gastronomiques: Le Cygne (à Gundershoffen), L’Arnsbourg (à Baerenthal) et le Cheval Blanc ( à Lembach).

    </p>
  </section>
</main>
