<aside>
  <nav id="nav-blog">
    <ul class="articles-list none">
      <li><%= link_to 'Actualités', actualites_blog_posts_path %></li>
      <li><%= link_to 'Thermalisme', thermalisme_blog_posts_path %></li>
    </ul>
  </nav>
</aside>
