<!-- app/views/shared/_flashes.html.erb -->
<% if flash[:notice] %>
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="document.querySelector('.alert-dismissible').style.display ='none';"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="document.querySelector('.alert-dismissible').style.display ='none';"><span aria-hidden="true">&times;</span></button>
    <%= alert %>
  </div>
<% end %>
