<footer id="footer">
  <%= link_to "simulateur taxe de sejour", simulateur_path, rel: "nofollow" %>
  <%= link_to "mentions legales", mentions_path, rel: "nofollow" %>
  <%= link_to "le blog", blog_posts_path %>
  <a href="http://www.abc-du-gratuit.com/" target="_blank" title="Annuaire">Annuaire Gratuit</a>
  <a href="https://www.alsace-premier.com" title="Annuaire Alsace" target="_blank">Annuaire Alsace</a>
</footer>
