<div class="gg-container">
  <div class="gg-box dark" id="heightWidth">
    <% @annonce.photos[0..4].each do |photo| %>
      <%= cl_image_tag photo.key %>
    <% end %>
  </div>
  <span class="more-photos">voir les photos</span>
</div>
