<div id="langs">
  <% if I18n.locale == :fr %>
    <%= link_to url_for(locale: :en) do %>
      <%= image_tag "flags/united-kingdom-flag.png", class: "flag", data: { titi: "" } %>
    <% end %>
  <% else %>
    <%= link_to url_for(locale: :fr) do %>
      <%= image_tag "flags/france-flag.png", class: "flag", data: { titi: "" } %>
    <% end %>
  <% end %>
</div>
