<h1>Commerces#index</h1>
<p>Find me in app/views/commerces/index.html.erb</p>
<ul>
  <% @commerces.each do |commerce| %>
    <%= link_to commerce.name, commerce_path(commerce) %>
  <% end %>
</ul>
<%= session[:cart] %>
