<main>
<article>
<h1>Cookies</h1>

<p>Les cookies sont de petits fichiers texte qui sont téléchargés sur votre ordinateur, votre tablette ou votre téléphone portable lorsque vous visitez un site web ou une application. Le site web ou l'application peut récupérer ces cookies à partir de votre navigateur web (par exemple Internet Explorer, Mozilla Firefox ou Google Chrome) à chaque visite, afin de vous reconnaître, de mémoriser vos préférences et de vous offrir une expérience en ligne plus sûre.</p>
<br>
<p>En général, les cookies sont très utiles et constituent une méthode courante utilisée par presque tous les sites web que vous visitez, car ils contribuent à rendre votre expérience en ligne aussi agréable que possible. Pour des raisons de sécurité, de nombreux sites web ne fonctionneront pas du tout sans l'utilisation de cookies (ou d'autres technologies similaires, telles que les "web beacons" ou "tags").</p>
<br>
<p>Les cookies ne contiennent généralement aucune information permettant d'identifier une personne, mais sont plutôt utilisés pour identifier le navigateur d'une machine.</p>
<br>
<p>Si vous préférez, vous pouvez limiter, bloquer ou supprimer les cookies en modifiant les paramètres de votre navigateur, mais cela peut signifier que le site web ne fonctionnera pas correctement</p>
<br>
<p>Pour plus d'informations sur les cookies et leur impact sur vous et votre navigation, visitez le site www.aboutcookies.org.</p>

<h2>TYPES DE COOKIES</h2>
<h3>Les cookies nécessaires</h3>
<p>Ces cookies sont essentiels pour vous aider à utiliser les fonctions et les services que nous offrons sur le site web #{INSERT SITE HERE}. Sans ces cookies, les services que vous souhaitez utiliser ne peuvent être fournis. Ces cookies ne recueillent pas d'informations vous concernant qui pourraient être utilisées pour vous identifier, et ils ne surveillent pas ou ne se souviennent pas de l'endroit où vous avez été sur Internet.</p>

<h3>Cookies fonctionnels</h3>
<p>Ces cookies nous permettent de vous offrir une meilleure expérience en ligne lorsque vous utilisez notre site web. Ils ne recueillent ni ne stockent aucune information qui nous permettrait de vous identifier personnellement.</p>

<h3>Cookies de performance</h3>
<p>Les cookies de performance nous aident à comprendre comment nos clients utilisent notre site, afin que nous puissions maintenir nos produits et services pertinents, faciles à utiliser et à jour. Par exemple, nous pouvons voir quels produits et services sont les plus populaires, identifier quand et où des erreurs se produisent, et tester différentes versions d'une page afin de fournir une expérience en ligne améliorée.</p>
<br>
<p>Parfois, les services que nous utilisons pour recueillir ces informations peuvent être exploités par d'autres entreprises en notre nom. Elles peuvent utiliser des technologies similaires aux cookies, connues sous le nom de "balises web" ou "tags". Ces derniers sont anonymes et, comme ils ne sont utilisés qu'à des fins statistiques, ils ne contiennent ni ne collectent aucune information permettant de vous identifier.</p>
<br>
<h3>Ciblage des cookies</h3>
<p>Nous entretenons des relations avec des fournisseurs (tiers) soigneusement sélectionnés et contrôlés, qui peuvent également installer des cookies pendant votre visite. L'objectif de ces cookies est la "publicité comportementale" (également appelée "ciblage comportemental" ou "remarketing"), qui est un moyen de vous montrer des produits et services pertinents en fonction de ce qui semble vous intéresser. Bien que ces cookies puissent suivre vos visites sur le web, ils ne savent pas qui vous êtes. Sans ces cookies, les publicités en ligne que vous rencontrerez seront moins pertinentes pour vous et vos intérêts.</p>

<h2>GESTION DES COOKIES</h2>
<p>La plupart des navigateurs internet vous permettent d'effacer les cookies du disque dur de votre ordinateur, de bloquer tous les cookies (ou seulement les cookies tiers) ou de vous avertir avant qu'un cookie ne soit stocké sur votre appareil.</p>
<br>
<p>Veuillez noter que si vous choisissez de bloquer tous les cookies, notre site ne fonctionnera pas comme prévu et vous ne pourrez pas utiliser ou accéder à un grand nombre des services que nous proposons. Si vous avez bloqué tous les cookies et que vous souhaitez utiliser pleinement les fonctions et les services que nous proposons, vous devrez activer vos cookies. Vous pouvez le faire dans votre navigateur (voir ci-dessous).</p>
<br>
<p>Plutôt que de bloquer tous les cookies, vous pouvez choisir de ne bloquer que les cookies de tiers, ce qui permettra à notre site web de continuer à fonctionner comme prévu.</p>

<h3>Comment gérer les cookies sur votre PC</h3>
<p>Pour activer les cookies sur notre site web, suivez les étapes ci-dessous.</p>

<h4>Google Chrome</h4>
Cliquez sur "Outils" en haut de votre navigateur et sélectionnez "Paramètres".
Cliquez sur "Afficher les paramètres avancés", descendez jusqu'à la section "Vie privée" et cliquez sur "Paramètres du contenu".
Sélectionnez "Autoriser le paramétrage des données locales". Pour n'accepter que les cookies de première partie, cochez la case située à côté de "Bloquer tous les cookies tiers sans exception".
Microsoft Internet Explorer 6.0, 7.0, 8.0, 9.0
Cliquez sur "Outils" en haut de votre navigateur et sélectionnez "Options Internet", puis cliquez sur l'onglet "Vie privée".
Vérifiez que votre niveau de confidentialité est réglé sur Moyen ou inférieur, ce qui permettra l'utilisation de cookies dans votre navigateur.
Si le niveau est supérieur à moyen, il empêchera l'utilisation de cookies.
Mozilla Firefox
Cliquez sur "Outils" en haut de votre navigateur et sélectionnez "Options".
Sélectionnez ensuite l'icône "Vie privée".
Cliquez sur "Cookies" et sélectionnez "Autoriser les pages à créer un cookie".
Safari
Cliquez sur l'icône de l'engrenage en haut de votre navigateur et sélectionnez "Paramètres".
Cliquez sur l'onglet "Vie privée", puis sélectionnez l'option "Désactiver l'utilisation des cookies par des tiers et des cookies publicitaires".
Cliquez sur "Enregistrer".
Comment gérer les cookies sur votre Mac
Pour activer les cookies sur notre site web, suivez les étapes ci-dessous.

<h4>Microsoft Internet Explorer 5.0 sur OSX</h4>
Cliquez sur "Explorer" en haut de votre navigateur et sélectionnez "Paramètres".
Faites défiler vers le bas jusqu'à la section "Cookies" dans la rubrique "Fichiers reçus".
Sélectionnez "Ne pas demander".
Safari sur OSX
1 Cliquez sur "Safari" en haut de votre navigateur et sélectionnez "Paramètres". 2 Cliquez sur "Vie privée" puis sur "Activer les cookies". 3 Sélectionnez "uniquement les pages que vous avez visitées".

<h4>Mozilla et Netscape sous OSX</h4>
1 Cliquez sur "Mozilla" ou "Netscape" en haut de votre navigateur et sélectionnez "Paramètres". 2 Faites défiler la liste des "Cookies" vers le bas sous "Vie privée et sécurité". 3 Sélectionnez "Autoriser les cookies uniquement sur le site d'origine".

<h4>Opéra</h4>
<ol>
<li>Cliquez sur "Menu" en haut de votre navigateur et sélectionnez "Paramètres".</li>
<li>Sélectionnez ensuite l'onglet "Options" et le bouton "Avancé". 3 Sélectionnez "Activer les cookies".</li>
</ol>
</article>
</main>
