<main>
  <article>

    <h1>FAQ</h1>

    <details id="airbnb_synchro">
      <summary>Comment synchroniser son calendrier Airbnb avec son annonce ?</summary>
      <p>Pour importer un calendrier, connectez-vous à votre compte Airbnb depuis un ordinateur ou un appareil mobile. Cette fonctionnalité n'est pas disponible sur l'application Airbnb.</p>
      <ul>
        <li>Accédez à votre tableau de bord > Annonces et sélectionnez une annonce.</li>
        <li>Cliquez sur Disponibilité.</li>
        <%= image_tag "https://github.com/thomas6791/photos-pays/blob/master/FAQ/faq-airbnb-1.png?raw=true" %>
        <li>Cliquez sur Exporter le calendrier sous "Synchronisation des calendriers".</li>
        <%= image_tag 'https://github.com/thomas6791/photos-pays/blob/master/FAQ/faq-airbnb-2.png?raw=true' %>
        <li>Copiez l'adresse URL de votre de calendrier Airbnb depuis la fenêtre qui apparaît.</li>
        <li>Dans l'édition de votre annonce sur Paysniederbronn.fr, allez au champ "Synchroniser son calendrier avec Airbnb"</li>
        <li>Cliquez sur "Confirmer"</li>
      </ul>
    </details>
    <details>
      <summary>Comment synchroniser son calendrier Booking avec son annonce ?</summary>
      <p>Something small enough to escape casual notice.</p>
    </details>
  </article>
</main>
