<main>
  <article>

    <h1>FAQ</h1>

  <p>fefazfzafzfa</p>

    <details>
      <summary>Comment synchroniser son calendrier Airbnb avec son annonce ?</summary>
      <p>Something small enough to escape casual notice.</p>
    </details>
    <details>
      <summary>Details</summary>
      <p>Something small enough to escape casual notice.</p>
    </details>
  </article>
</main>
