<div id="home-banner">
  <div>
    <h1>Bienvenue au Pays de Niederbronn-les-Bains</h1>
    <h2>La porte d'entrée dans les Vosges du Nord d'Alsace</h2>
  </div>
</div>
<main id="home">

</main>
<%= link_to 'Four à chaux', four_a_chaux_lembach_path %>
<%= link_to 'Simulateur Taxe de sejour', simulateur_path %>
