<div id="home-banner">
  <div>
    <h1>Bienvenue au Pays de Niederbronn-les-Bains</h1>
    <h2>La porte d'entrée des Vosges du Nord d'Alsace</h2>
  </div>
</div>
<main id="home">
  <article>
    <section>
      <p>Bienvenu sur le portail touristique du Pays de Niederbronn et de l’Alsace du Nord avec le Parc Naturel des Vosges du Nord, son patrimoine, son folklore, ses spécialités et les caractéristiques uniques de l’Alsace.</p>
      <h2>L’Alsace</h2>
      <p>Nichée au Nord Est de la France, frontalière de l’Allemagne et de la Suisse, la région d’Alsace possède un des patrimoines culturel, historique et naturel les plus riches de France offrant aux touristes une réelle expérience durant leurs séjours quelquesoit la période de l’année.</p>
      <h2>Le Parc Naturel Régional des Vosges du Nord</h2>
      <p></p>
      <h2>Tourisme de mémoire et châteaux forts</h2>
      <p></p>
      <h2>Thermalisme</h2>
      <p>Avec pas moins de deux stations thermales spécialisées dans la rhumathologie, les stations thermales de Niederbronn-les-Bains et de Morsbronn-les-Bains seront les lieux idéals pour apporter les soins.</p>
      <h2>Les marchés de Noël</h2>
      <p></p>


    </section>
  </article>
</main>
<%= link_to 'Four à chaux', four_a_chaux_lembach_path %>
<%= link_to 'Simulateur Taxe de sejour', simulateur_path %>
<%= link_to 'Meublés Heidelbeere', sub_heidelbeere_url %>
