<h1>Pays de Niederbronn</h1>
<div id="home-banner"></div>
<main id="home">

</main>
<%= link_to 'Four à chaux', four_a_chaux_lembach_path %>
<%= link_to 'Simulateur Taxe de sejour', simulateur_path %>
