<main id="">
  <article class="">
    <header>
      <h1>Mentions Légales</h1>
    </header>
    <section>
      <p>IDENTIFICATION DE L'ÉDITEUR
      Le site www.myclientisrich.com est édité par l'agence Web My Client is Rich dont le siège social se situe au 2A rue Moll 67000 Strasbourg. Tél. 09 72 37 60 65.

      Les propos tenus par l'éditeur ne représentent que et uniquement l'opinion de leur auteur et n'engagent pas les sociétés, entreprises ou collectifs auxquels il contribue ou dont il peut être associé ou employé.

      PROPRIÉTÉ DU SITE INTERNET
      Ce site est la propriété de l'agence My Client is Rich
      SIRET : 529 933 087 00031
      RCS : Strasbourg B 529 933 087
      N° de TVA Intra-communautaire : FR22529933087

      DIRECTEUR DE PUBLICATION
      M. Nicolas Schuster

      HÉBERGEMENT
      Ce site est hébergé par la société OVH - 2 rue Kellermann - 59100 Roubaix - France www.ovh.com

      CONCEPTION & RÉALISATION
      Ce site a été entièrement conçu et développé par l'agence My Client is Rich.

      DONNÉES PERSONNELLES
      Les données personnelles collectées par le site www.myclientisrich.com sont uniquement destinées à un usage interne. En aucun cas ces données ne seront cédées ou vendues à des tiers.

      Cette activité est déclarée à la CNIL sous le n° 1690347

      Conformément à l’article 39 de la loi relative à l'Informatique et aux Libertés du 6 janvier 1978, vous avez un droit d’accès, de modification et d’opposition sur vos données personnelles enregistrées par le site. Pour exercer ce droit, veuillez nous envoyer un mail à : money@myclientisrich.com

      INFORMATIONS SUR LES COOKIES
      En navigant sur notre site Internet, il se peut qu'un ou plusieurs cookies soient créés sur votre ordinateur. Cependant, votre identification n'est pas automatique avec ces cookies. De façon globale, il stocke des renseignements concernant la navigation générale de votre ordinateur sur notre page Web (pages consultées, à quelle date et quelle heure, etc.). Nous aurons la possibilité de lire ces renseignements au moment de vos prochaines connexions sur notre site. Par extension, les cookies enregistrent tous les renseignements que vous êtes susceptibles de nous communiquer. Par conséquent, lors de vos connexions à venir, vous n'aurez nul besoin de compléter une nouvelle fois l'un de nos formulaires. La plupart du temps, lesdits renseignements sont stockés par votre ordinateur au cours de votre navigation, ou pendant le temps que vous aurez imparti au moment d'une éventuelle identification.

      My Client is Rich vous signale qu'à n'importe quel moment vous avez le droit de refuser le stockage de ces données par ces cookies, et que pour ce faire vous devez paramétrer votre navigateur comme suit :

      Si vous utilisez Microsoft Internet Explorer 3 ou 4 comme navigateur : Cliquez sur « Affichage », « Options », « Avancées ». Sur Internet Explorer 3, activez l'avertissement numéro 4 dénommé « Avertir avant d'accepter des cookies ». Sur Internet Explorer 4, activez l'avertissement numéro 4 : « Refuser toujours les cookies ». My Client is Rich vous suggère de prendre en compte le fait qu'Internet Explorer 6 gère les cookies de façon bien plus appliquée par rapport aux versions antérieures. Partant, une configuration minutieuse du niveau de sécurité que vous désirez avoir est possible.

      Si vous utilisez Netscape Navigator 3 ou 4 :

      Cliquez sur « Options », « Préférences du réseau », « Protocoles ». Le premier avertissement que vous pouvez activer est dénommé « Avertir avant d'accepter un cookie ». Ainsi, un avertissement vous sera envoyé lorsqu'un cookie apparaîtra. Vous aurez alors la possibilité de refuser son enregistrement par votre navigateur. Avec Netscape 6, vous avez juste à cocher l'option « Désactiver les cookies » dans le menu « Edition », « Préférences », catégorie « Avancé », « Cookies » ou bien d'aller dans le menu « Tâches », « Confidentialité et sécurité », « Gestionnaire de cookies ».

      Vous trouverez davantage d'informations relatives aux cookies sur le site de la CNIL.

      LIENS VERS DES SITES TIERS
      Les liens tiers, d'une part, vous redirigent vers d'autres sites que celui de My Client is Rich, et d'autre part, quittent la page de My Client is Rich. Les sites tiers ne dépendent aucunement du contrôle de My Client is Rich, c'est pourquoi My Client is Rich ne peut être tenu responsable du contenu de ces sites tiers, ni des liens qu'ils contiennent ou des changements et mises à jour qui leur sont apportés.

      DROITS D'AUTEUR & PROPRIÉTÉ INTELLECTUELLE
      Tous droits réservés. La reproduction du contenu de ce site, en totalité ou en partie, est interdite sans la permission écrite de l’auteur.

      Les textes, images fixes ou animées, les contenus graphiques, documents téléchargeables, formulaires, newsletters relèvent de la propriété exclusive de My Client is Rich. Ces éléments sont protégés par les lois françaises et les textes internationaux relatifs au respect des droits d'auteur et du copyright.

      La reproduction partielle ou globale de quelque contenu provenant de ce site est strictement interdite, sauf autorisation expresse du directeur de la publication.

      Concernant la reproduction des textes sur un support papier, celle-ci est autorisée si elle entre dans un contexte pédagogique, à condition qu'elle respecte les trois mentions suivantes :

      gratuité de la diffusion
      respect de la totalité des documents reproduits (aucune modification ne sera tolérée)
      citation obligatoire de la source (ici, My Client is Rich)
      Toute utilisation des éléments du présent site, précédemment cités, à des fins différentes que celles visées dans le paragraphe ultérieur fera l'objet de poursuites judiciaires, en France, comme à l'étranger.

      Tout autre matériel contenu sur ce site ne nous appartenant pas : photos, textes, images, logos, noms de produits ou marques citées… est la propriété de leurs détenteurs respectifs.

      CONFIDENTIALITÉ & COLLECTE DES DONNÉES
      Conformément à l'article 34 de la loi Informatique et Libertés N° 78-17 du 6 janvier 1978, My Client is Rich vous rappelle que vous disposez d'un droit d'accès pour rectifier ou supprimer des données vous concernant.

      Pour exercer ce droit, vous êtes tenu de contacter l'agence My Client is Rich par mail à money@myclientisrich.com.</p>
    </section>
  </article>
</main>
