<main id="">
  <article class="">
    <header>
      <h1>Mentions Légales</h1>
    </header>
    <section>
      <h2>Identification de l'éditeur</h2>
      <p>
      Le site www.paysniederbronn.fr  est édité par Weddoz SAS dont le siège social se situe au 2 route de sturzelbronn 67110 Neunhoffen. Tél. 06 71 03 7 53.

      Les propos tenus par l'éditeur ne représentent que et uniquement l'opinion de leur auteur et n'engagent pas les sociétés, entreprises ou collectifs auxquels il contribue ou dont il peut être associé ou employé.</p>

      <h2>PROPRIÉTÉ DU SITE INTERNET</h2>
      <p>Ce site est la propriété de l'agence Weddoz SAS
      SIRET : 529 933 087 00031
      RCS : Strasbourg B 529 933 087
      N° de TVA Intra-communautaire : FR22529933087</p>

      <h2>DIRECTEUR DE PUBLICATION</h2>
      <p>M. Thomas Hunckler</p>

      <h2>HÉBERGEMENT</h2>
      <p>Ce site est hébergé par la société Heroku - SALESFORCE The Landmark @ 1 Market St. Suite 300 San Francisco, CA 94105, heroku.com</p>

      <h2>CONCEPTION & RÉALISATION</h2>
      <p>Ce site a été entièrement conçu et développé par la société Weddoz SAS.</p>

      <h2>DONNÉES PERSONNELLES</h2>
      <p>Les données personnelles collectées par le site www.paysniederbronn.fr  sont uniquement destinées à un usage interne. En aucun cas ces données ne seront cédées ou vendues à des tiers.</p>

      <strong>Cette activité est déclarée à la CNIL sous le n° 1690347</strong>

      <p>Conformément à l’article 39 de la loi relative à l'Informatique et aux Libertés du 6 janvier 1978, vous avez un droit d’accès, de modification et d’opposition sur vos données personnelles enregistrées par le site. Pour exercer ce droit, veuillez nous envoyer un mail à : contact@paysniederbronn.fr</p>

      <h2>INFORMATIONS SUR LES COOKIES</h2>
      <p>En navigant sur notre site Internet, il se peut qu'un ou plusieurs cookies soient créés sur votre ordinateur. Cependant, votre identification n'est pas automatique avec ces cookies. De façon globale, il stocke des renseignements concernant la navigation générale de votre ordinateur sur notre page Web (pages consultées, à quelle date et quelle heure, etc.). Nous aurons la possibilité de lire ces renseignements au moment de vos prochaines connexions sur notre site. Par extension, les cookies enregistrent tous les renseignements que vous êtes susceptibles de nous communiquer. Par conséquent, lors de vos connexions à venir, vous n'aurez nul besoin de compléter une nouvelle fois l'un de nos formulaires. La plupart du temps, lesdits renseignements sont stockés par votre ordinateur au cours de votre navigation, ou pendant le temps que vous aurez imparti au moment d'une éventuelle identification.

      L'association du Pays de Niederbronn vous signale qu'à n'importe quel moment vous avez le droit de refuser le stockage de ces données par ces cookies, et que pour ce faire vous devez paramétrer votre navigateur comme suit :

      Si vous utilisez Microsoft Internet Explorer 3 ou 4 comme navigateur : Cliquez sur « Affichage », « Options », « Avancées ». Sur Internet Explorer 3, activez l'avertissement numéro 4 dénommé « Avertir avant d'accepter des cookies ». Sur Internet Explorer 4, activez l'avertissement numéro 4 : « Refuser toujours les cookies ». L'association Pays de Niederbronn vous suggère de prendre en compte le fait qu'Internet Explorer 6 gère les cookies de façon bien plus appliquée par rapport aux versions antérieures. Partant, une configuration minutieuse du niveau de sécurité que vous désirez avoir est possible.

      Si vous utilisez Netscape Navigator 3 ou 4 :

      Cliquez sur « Options », « Préférences du réseau », « Protocoles ». Le premier avertissement que vous pouvez activer est dénommé « Avertir avant d'accepter un cookie ». Ainsi, un avertissement vous sera envoyé lorsqu'un cookie apparaîtra. Vous aurez alors la possibilité de refuser son enregistrement par votre navigateur. Avec Netscape 6, vous avez juste à cocher l'option « Désactiver les cookies » dans le menu « Edition », « Préférences », catégorie « Avancé », « Cookies » ou bien d'aller dans le menu « Tâches », « Confidentialité et sécurité », « Gestionnaire de cookies ».

      Vous trouverez davantage d'informations relatives aux cookies sur le site de la CNIL.</p>

      <h2>LIENS VERS DES SITES TIERS</h2>
      <p>Les liens tiers, d'une part, vous redirigent vers d'autres sites que celui de paysniederbronn, et d'autre part, quittent la page de paysniederbronn. Les sites tiers ne dépendent aucunement du contrôle de l'association Pays Niederbronn, c'est pourquoi l'association Pays de Niederbronn ne peut être tenu responsable du contenu de ces sites tiers, ni des liens qu'ils contiennent ou des changements et mises à jour qui leur sont apportés.</p>

      <h2>DROITS D'AUTEUR & PROPRIÉTÉ INTELLECTUELLE</h2>
      <p>Tous droits réservés. La reproduction du contenu de ce site, en totalité ou en partie, est interdite sans la permission écrite de l’auteur.</p>

      <p>Les textes, images fixes ou animées, les contenus graphiques, documents téléchargeables, formulaires, newsletters relèvent de la propriété exclusive de l'association Pays de Niederbronn. Ces éléments sont protégés par les lois françaises et les textes internationaux relatifs au respect des droits d'auteur et du copyright.</p>

      <p>La reproduction partielle ou globale de quelque contenu provenant de ce site est strictement interdite, sauf autorisation expresse du directeur de la publication.</p>

      <p>Concernant la reproduction des textes sur un support papier, celle-ci est autorisée si elle entre dans un contexte pédagogique, à condition qu'elle respecte les trois mentions suivantes :</p>

      <p>gratuité de la diffusion
      respect de la totalité des documents reproduits (aucune modification ne sera tolérée)
      citation obligatoire de la source (ici, l'assocation Pays de Niederbronn)
      Toute utilisation des éléments du présent site, précédemment cités, à des fins différentes que celles visées dans le paragraphe ultérieur fera l'objet de poursuites judiciaires, en France, comme à l'étranger.</p>

      <p>Tout autre matériel contenu sur ce site ne nous appartenant pas : photos, textes, images, logos, noms de produits ou marques citées… est la propriété de leurs détenteurs respectifs.</p>

      <h2>CONFIDENTIALITÉ & COLLECTE DES DONNÉES</h2>
      <p>Conformément à l'article 34 de la loi Informatique et Libertés N° 78-17 du 6 janvier 1978, l'association Pays de Niederbronn vous rappelle que vous disposez d'un droit d'accès pour rectifier ou supprimer des données vous concernant.</p>

      <p>Pour exercer ce droit, vous êtes tenu de contacter l'association par mail à contact@paysniederbronn.f .</p>
    </section>
  </article>
</main>
