<main id="simulator">
  <article>
    <header>
      <h1>Simulateur Taxe de sejour</h1>
    </header>
    <section>
      <p><%= @taxes["niederbronn"] %></p>
      <div>
        <%= form_for :anything, url: "pages_controller/simulator" do |form| %>
          <%= form.text_field :name %>
          <%= form.submit  %>
        <% end  %>
      </div>
    </section>
  </article>
</main>

