<main id="simulator">
  <article>
    <header>
      <h1>Simulateur Taxe de sejour</h1>
    </header>
    <section>
      <p><%= @taxes["niederbronn"] %></p>
      <div>
        <%= simple_form_for :result, url: simulateur_path do |f| %>
          <%= f.input :amount, as: :integer %>
          <%= f.submit %>
          <% end %>
      </div>
    </section>
  </article>
</main>

