<h1>Tarifs</h1>
<h2>Offres</h2>
<section>
  <div>
    <h3>Inscription de base</h3>
    <ul>
      <li>Inscription sur le site</li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <h4>Tarif: €</h4>
  </div>
  <div>
    <h3>Inscription Premium</h3>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li>Un site dédié à son hébergement</li>
    </ul>
    <h4>Tarif: €</h4>
  </div>
  <div>
    <h3>Contact</h3>
    <p>ferhtreg</p>
  </div>
</section>

