<main id="tarifs">
  <article>
    <h1>Offres d'inscription</h1>
    <section>
      <div class="one">
        <h2>Inscription de base</h2>
        <ul>
          <li>Création d'une annonce sur le site</li>
          <li>Jusqu'à 10 photos</li>
          <li>Synchronisation du calendrier avec Airbnb ou Booking</li>
          <li>Accès aux outils: création de facture</li>
        </ul>
        <h3 class="price1">Tarif: 60,00€ H.T</h3>
      </div>
      <div class="two">
        <h2>Inscription Premium</h2>
        <ul>
          <li>Inscription sur le site</li>
          <li>Synchronisation du calendrier avec Airbnb ou Booking</li>
          <li>Accès aux outils: création de facture</li>
          <li>Mise en avant dans les résultats</li>
          <li>Site dédié avec accès aux contenus présents directement depuis son site</li>
        </ul>
        <h3 class="price2">Tarif: 400,00€ H.T + 80€ H.T/an</h3>
      </div>
      <div class="three">
        <h2>Contact</h2>
      </div>
    </section>
  </article>
</main>
