<main id="tarifs">
<h1>Tarifs</h1>
<h2>Offres</h2>
<section>
  <div class="one">
    <h3>Inscription de base</h3>
    <ul>
      <li>Inscription sur le site</li>
      <li></li>
      <li></li>
      <li>Synchronisation du calendrier avec Airbnb ou Booking</li>
      <li></li>
    </ul>
    <h4>Tarif: 60€ HT</h4>
  </div>
  <div class="two">
    <h3>Inscription Premium</h3>
    <ul>
      <li></li>
      <li>Accès aux informations du site directement depuis son site personnel</li>
      <li>Formulaire de création de facture pour taxe de séjour</li>
      <li>Mise en avant dans les résultats</li>
      <li>Site dédié</li>
    </ul>
    <h4>Tarif: 200€ HT une fois + 70€ HT/an</h4>
  </div>
  <div class="three">
    <h3>Contact</h3>
    <p>ferhtreg</p>
  </div>
</section>
</main>

