<main id="home">
  <h1>Gîtes & meublés de tourisme Heidelbeere</h1>
  <a href="http://www.paysniederbronn.fr/">Pays Niederbronn</a>
  <article>
    <section></section>
    <section></section>
  </article>
</main>

