<main id="home">
  <h1>Gîtes & meublés de tourisme Heidelbeere TEST</h1>
  <a href="http://www.paysniederbronn.fr/">Pays Niederbronn</a>
  <article>
    <section>
      <h2>Grand appartement de 100m<sup>2</sup></h2>
      <a href="" class="grey">En savoir plus</a>
    </section>
    <section>
      <h2>Studio meublé</h2>
      <a href="" class="grey">En savoir plus</a>
    </section>
  </article>
</main>

