<p>Hi <%= @annonce_email %>,</p>

<p>Today we'll talk about SMTP and Postmark!</p>

<p>See ya!</p>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Démystification de la conception d'un email</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
