<% @annonces.each do |annonce| %>
  <%= link_to annonce do %>
    <div class="card-trip shadow">
      <%= image_tag annonce.photos[0] %>
      <div class="card-trip-infos">
        <div>
          <h2><%= annonce.titre %></h2>
          <p><%= annonce.description %></p>
        </div>
        <p class="card-trip-pricing">£99.99</p>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered shadow" />
      </div>
    </div>
  <% end %>
<% end %>
