<% @annonces.each do |annonce| %>
  <%= link_to annonce do %>
    <div class="card-map shadow">
      <%= image_tag annonce.photos[0], crop: :fill %>
      <h2><%= annonce.titre %></h2>
    </div>
  <% end %>
<% end %>

