<aside class="selects-rentings">
  <%= link_to "Pour curistes - cure thermale", select_rentings_path, remote: true %>
  <a href="#">Pour les familles</a>
  <a href="#">Acceptent les animaux</a>
  <a href="#">Grande capacité</a>
  <a href="#" onclick="this.style.backgroundColor='#990000'">Paint it red</a>
  <%= link_to "Test", select_rentings_path(:rent => "chasse"), remote: true %>
</aside>
