<h1>Chasse</h1>

<div id='map' style='width: 400px; height: 300px;'></div>

<script>
  mapboxgl.accessToken = "<%= ENV['MAPBOX_API_KEY'] %>";
  var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v11'
  });
</script>
