<main>
  <article class="article contact">
    <section class="contact-send shadow">
      <h1>Votre demande a été envoyée</h1>
      <p>Le propriétaire vous répondra dans les meilleurs délais.</p>
      <%= link_to "Retourner à la page d'accueil", root_path, class: "btn btn-green" %>
    </section>
  </article>
</main>
<script>
  ga('send', {
    hitType: 'event',
    eventCategory: 'Demande de location',
    eventAction: @annonce.titre,
    eventLabel: @dates
  });
</script>
