console.log("test");

function addTest(innerHTML) {
  const x = document.getElementById("alentours");
  x.insertAdjacentHTML('beforeend', innerHTML);
}

addTest("<h1>TEST</h1>");

// function addItem(innerHTML) {
//  const listItems = document.querySelector('.place_items');
//  listItems.insertAdjacentHTML('beforeend', innerHTML);
// }
// <% if @place_item.errors.any? %>
// <% else %>
//  addItem('<%= j render "emplacements/item-list", place_item: @place_item %>');
// <% end %>

