.cookies-eu.fullscreen {
  width: 100%;
  height: 100%;
  opacity: 0.2;
}
.cookies-eu.js-cookies-eu {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 60vh;
  height: 60vh;
  background-color: white !important;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 5px;
  font-family: 'Avenir','Source Sans Pro', 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cookies-eu-content-holder  {
  padding: 0px;
} /* content holder */
.cookies-eu-button-holder {
  display: flex !important;
  a, button {
    //color: red !important;
    display: flex;
    flex: 1;
    background-color: lightseagreen !important;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1em !important;
  }
}  /* button holder */
