@import "config/colors";
#footer {
  background-color: $black;
  color: white;
  margin-top: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  word-break: break-word;
  font-size: 0.8em;
  a { color: white; padding: 0px 10px; }
}
.annuaire {
  word-break: break-word;
  a { font-size: 0.5em; }
}
