.form-create {
  margin-bottom: 50px;
  max-width: 850px;
  margin: auto;
  .first, .second, .third {
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 30px 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  .city {
    display: flex;
    justify-content: space-between;
    .input.string.optional { width: 45%; }
  }
  input, textarea {
    width: 100%;
    font-size: 1em;
    line-height: 2em;
    border: solid 1px lightgray;
  }
  .input.check_boxes.optional.renting_renting_categories {
    display: flex;
    flex-wrap: wrap;
    .check_boxes.optional {
      visibility: hidden;
      height: 0px;
      width: 0px;
    }
  }
  .third.options .checkbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    line-height: 2em;
    align-items: center;
    width: fit-content;
    color: lightgray;
    border: solid 1px lightgray;
    padding: 0px;
    padding: 0px 20px;
    margin: 2px;
    border-radius: 3px;
    text-transform: capitalize;
    cursor: pointer;
    & span:hover, label:hover { cursor: pointer; }
    &.active { background-color: lightseagreen; border: solid 1px lightseagreen; color: white; }
    input { display: block; width: auto; }
  }



  label { font-weight: bold; }
  input[type="submit"]{}
  .input.string.optional {
    margin: 15px 0px;
  }
}
// sign in sign up
.sign-form {
  display: flex;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: blue;
    }
  }
  article {
    width: 400px;
    margin: auto;
    border-radius: 3px;
    padding: 0px 20px 20px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  .input {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
  }
  input {
    font-size: 1.2em;
    padding: 5px;
  }
  label {}
}
