.form-create {
  margin-bottom: 50px;
  max-width: 850px;
  margin: auto;
  .first, .second, .third {
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 30px 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  .city {
    display: flex;
    justify-content: space-between;
    .input.string.optional { width: 45%; }
  }
  input, textarea {
    width: 100%;
    font-size: 1em;
    line-height: 2em;
    border: solid 1px lightgray;
  }

  .third.options span label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    line-height: 2.5em;
    input { display: block; width: auto; }
  }



  label { font-weight: bold; }
  input[type="submit"]{}
  .input.string.optional {
    margin: 15px 0px;
  }
}
