.form-create {
  margin-bottom: 50px;
  max-width: 850px;
  margin: auto;
  .first, .second, .third {
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 30px 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  .city {
    display: flex;
    justify-content: space-between;
    .input.string.optional { width: 45%; }
  }
  input, textarea, select {
    width: 100%;
    font-size: 1em;
    line-height: 2em;
    border: solid 1px lightgray;
  }
  select { width: auto; }
  .input.check_boxes.optional.renting_renting_categories {
    display: flex;
    flex-wrap: wrap;
    .check_boxes.optional {
      visibility: hidden;
      height: 0px;
      width: 0px;
    }
  }
  .third.options .checkbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    line-height: 2em;
    align-items: center;
    width: fit-content;
    color: lightgray;
    border: solid 1px lightgray;
    padding: 0px;
    padding: 0px 20px;
    margin: 2px;
    border-radius: 3px;
    text-transform: capitalize;
    cursor: pointer;
    & span:hover, label:hover { cursor: pointer; }
    &.active { background-color: lightseagreen; border: solid 1px lightseagreen; color: white; }
    input { display: block; width: auto; }
  }
  .third.photos {
    ul { display: flex; list-style-type: none; }
    li {
      flex: 1;
      margin:0; padding:0; box-sizing:border-box;
      position: relative;
      object-fit: cover;
      a {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 1.4em;
        text-decoration: none;
        color: white;
        opacity: 0.7;
        &:hover { opacity: 1; }
      }
    }
  }



  label { font-weight: bold; }
  input[type="submit"]{}
  .input.string.optional {
    margin: 15px 0px;
  }
}
// sign in sign up
.sign-form {
  display: flex;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: blue;
    }
  }
  article {
    width: 400px;
    margin: auto;
    border-radius: 3px;
    padding: 0px 20px 20px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  .input {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
  }
  input {
    font-size: 1.2em;
    padding: 5px;
  }
  label {}
}
// general form
.simple_form {
  &.contact {
    .input.boolean.required.contact_rgpd {}
    .boolean.required.checkbox {
      display: flex;
      align-items: baseline;
      .boolean.required {
        display: block;
        width: auto !important;
        margin-right: 0.5em;
      }
    }
    .error { border: solid 1px red !important; }
  }
}

#send-renting {
  h1 { font-weight: 400; }
  p { padding: 10px; }
  .input {
    //display: flex;
    padding: 10px 10px;
    line-height: 1.5em;
  }
  label { min-width: 10em; font-weight: bold; }
  input, select, textarea { width: 100%; border: solid 1px lightgrey; border-radius: 3px;
    font-size: 1em; line-height: 2em;
  }
  textarea:focus, input:focus{
    outline: none;
  }
  form {
    padding: 3px;
  }
}
.contact {
  input, textarea { padding: 5px; }
}
.contact.long {
  display: flex;
  justify-content: space-between;
  div { width: 100%; }
  div:first-child {}
  div:last-child {}
}
.sending-annonce {
  display: flex;
  flex-wrap: wrap;
  img { display: block; width: auto; height: 30vh; }
}
.selects-rentings.cure {
  form {
    input { border: solid 1px #333333; line-height: 2em; cursor: pointer; }
    input[type="submit"] { background-color: #333333; color: white; font-weight: bolder; }
    input.occuped {
    }
  }
}
