@import "config/colors";

nav {
  padding: 0px 10px;
  height: 3em;
  border: solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $black;
  position: sticky;
  top: 0;
  z-index: 10;
  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      width: 100%;
      justify-content: space-between;
      li {
        list-style: none;
        padding: 0px;
        margin: 0px;
      }
    }
    a {
    font-size: 1em;
    color: white;
    text-decoration: none;
    align-self: center;
    padding: 0px 10px;
      &:hover {
        color: white;
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
  #langs {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    a { display: flex; margin: 0px 5px; }
    .flag { width: 30px; height: auto; max-width: 30px; max-height: 30px; }
  }
}
nav > div { max-width: 1260px; margin: auto; align-items: center; }
#mobile {
  display: flex;
  justify-content: flex-end;
  //padding: 10px 10px 0px 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: transparent;
  .mobile-button {
    width: 45px;
    height: 45px;
    padding-right: 10px;
    padding-top: 10px;
  }
}
#nav-blog {
  width: auto;
  //border: solid 1px;
  border: none;
  height: 100vh;
  background-color: white;
  z-index: 1;
  display: flex;
  align-items: baseline;
  padding: 0px;
  ul > li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    //border: solid 1px;
    //margin: 10px 0px;
    a {
      font-family: 'Caveat', cursive;
      font-size: 1.5em;
      text-decoration: none;
      color: black;
      line-height: initial;
      display: block;
      text-align: center;
      padding: 0px 50px;
    }
  }
  border-right: solid 1px #ECEBEB;
}
.blog-links {
  .mob { visibility: hidden; }
}

#sub-nav {
  //all: initial;
  background-color: white;
  color: $black;
  display: flex;
  justify-content: flex-end;
  border: none;
  padding: 0;
  margin-bottom: 1em;
  ul {
    display: inline-flex;
    list-style: none;
    li {
      margin: 0;
      padding: 0;
      font-weight: bolder;
      a {
        color: black; text-decoration: none;
        padding: 0.5em 2em;
        margin: 0.5em 0;
        &:hover { background-color: whitesmoke; color: $black; }
      }
    }
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  #mobile { height: 55px; }
  .nav {
    width: 0px;
    height: 100vh;
    position: fixed;
    padding: 0px;
    flex-direction: column;
    justify-content: space-around;
    visibility: hidden;
    transition: 0.5s width ease;
    div > ul {
      flex-direction: column;
      width: 80%;
      margin: auto;
    }
    a {
      font-size: 1.5em;
      text-align: center;
      margin: 10px 0px;
      display: block;
    }
    &.visible {
      width: 70%;
      visibility: visible;
      z-index: 10;
      & > div { flex-direction: column; }
    }
    #langs { flex-direction: initial; }
  }
  .nav.gite {
    div { flex-direction: column; }
  }
  #nav-blog { display: none; }
  .blog-links {
    .mob { visibility: visible; }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #mobile { display: none; }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #mobile { display: none; }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #mobile { display: none; }
}
