.tabs {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  .tab {
    padding: 0px;
    margin: 0px;
    font-size: 0.8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-right: 1em;
    font-weight: bold;
    &:hover {
      //text-decoration: underline;
      color: #fccb07;
    }
    &.active {
      //text-decoration: underline;
      color: #fccb07;
    }
  }
  .tab:first-of-type {

  }
}
.tabcontents {
  position: relative;
  .tabcontent {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
  }
  .tabcontent:first-of-type {
    z-index: 1;
    position: inherit;
  }
}

.tabcontent > p {
  min-height: 80px;
  max-height: 80px;
  font-size: 0.9em;
}
