// Place all the styles related to the commerces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#commerce {
  font-family: 'Avenir','Source Sans Pro', 'Muli', sans-serif;
  section:first-of-type {
    display: flex;
    .cart {
      width: 30%;
      border: solid 1px lightgrey;
      margin: 0px 10px;
      border-radius: 3px;
      padding: 1em;
      height: fit-content;
      a { text-decoration: none; color: black; }
    }
  }
  .list-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    //grid-template-rows: auto 1fr;
    height: fit-content;
    li {
      border: solid 1px lightgrey;
      border-radius: 3px;
      list-style: none;
      margin: 0px;
      display: flex;
      justify-content: space-between;
      .description, .price { font-weight: lighter; color: grey; font-size: 0.8em; }
      .price { font-weight: bolder; font-size: 0.9em; }
      .input { padding: 0px; }
      div { padding: 1em; }
      img { width: 150px; height: auto; object-fit: cover; align-self: center; }
      &:hover { border: solid 1px black; }
      h2 { font-weight: 200; }
    }
  }
  .list-group-item {
    form > div {
      padding: 0px;
      display: flex;
      a {

      }
    }
  }
  .input.boolean.required.order_rgpd {
    font-size: 0.75em;
    color: darkslategrey;
    margin: 1.5em 0;
  }
  .fas { color: lightseagreen; font-size: 1.2em; }
  .cart {
    h2 { margin-bottom: 0.8em; font-weight: 500; }
    hr {
      margin: 10px 0px;
      color: darkgrey;
    }
    ul {
      list-style-type: none;
      li {
        display: flex;
        margin: 0;
        p{padding: 0px 5px; font-size: 0.9em; color: grey; }
      }
    }
    .btn {
      display: block;
      width: 100%;
    }
    form input {
      display: flex;
      flex-wrap: wrap;
      line-height: 2em;
      border: none;
      border-bottom: solid 1px lightgrey;
      width: 100%;
    }
    input.boolean { width: auto; }
  }
}
