// Place all the styles related to the landing_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banner {
  background-size: cover;
  background-position: center;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.banner.landing {
  margin-bottom: 10px;
  h1 { font-weight: 400; }
}
iframe { width: 100%; min-height: 50vh; margin-top: 10px; margin-bottom: 10px; }

.landing {
  padding-top: 0px;
  h2 { text-decoration: underline;}
  h3 {
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 5px 0px;
    text-align: center;
    margin-bottom: 10px;
  }
  h4 {}
  article {

  }
  &.attractions {
    section { padding: 10px 0px; }
    section {
      display: grid;
      grid-auto-rows: min-content;
      width: 100%;
      grid-template-areas:  "titre titre"
                            "photo texte";
    }
    h2 { grid-area: titre; }
    section > p {
      padding-left: 10px;
      grid-area: texte;
    }
    img {
      grid-area: photo;
      min-width: 300px; max-width: 300px;
      height: 200px;
      object-fit: cover;
      content-visibility: auto;
    }
  }
}
.header-landing {
  max-width: 1024px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  text-align: left;
  max-height: 250px;
  div {
    all: unset;
    h1 { text-align: left; border-left: solid 10px lightseagreen;
      font-size: 1.5em;
      padding-left: 0.5em;
    }
    text-align: left;
  }
  img { width: 40%; height: auto; margin-left: 4em; }
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .landing {
    &.attractions {
      section {
        grid-template-areas:  "photo"
                              "titre"
                              "texte";
        img { width: 100%; max-width: 100%; }
        p { padding-left: 0px; }
      }
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .landing {
    &.attractions {
      section {
        grid-template-areas:  "photo"
                              "titre"
                              "texte";
        img {
          width: 100%; max-width: 100%;
        }
        p { padding-left: 0px; }
      }
    }
  }
}
@media (min-width: 768px) {
  .landing {
    &.attractions {
      section {
        grid-template-areas:  "titre titre"
                              "photo texte";
        img { min-width: 300px; max-width: 300px; }
      }
    }
  }
}
