// Place all the styles related to the landing_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banner {
  background-size: cover;
  background-position: center;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.banner.landing {
  margin-bottom: 10px;
  h1 { font-weight: 400; }
}
iframe { width: 100%; min-height: 50vh; margin-top: 10px; margin-bottom: 10px; }

.landing {
  padding-top: 0px;
  h2 { text-decoration: underline;}
  h3 {
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 5px 0px;
    text-align: center;
    margin-bottom: 10px;
  }
  h4 {}
  article {

  }
  &.attractions {
    section { padding: 10px 0px; }
    section > div { display: flex; }
    section > div > p { padding-left: 10px; }
    img {
      width: 300px;
      height: 200px;
      object-fit: cover;
    }
  }
}
