// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "config/colors";

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Avenir','Source Sans Pro', 'Muli', sans-serif;
  //font-family: 'Source Sans Pro', sans-serif;
  //font-family: 'Muli', sans-serif;
}
ul > li { margin-left: 20px; }
body {
}
main {
  padding: 0px 10px;
}
main { max-width: 1280px; margin: auto; }
h1 { font-size: 2em; text-align: center; margin: 20px 0px; }
p { font-size: 1em; }
#alentours {
  min-height: 100vh;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}
.advice {
  border: solid 2px $red;
  border-radius: 5px;
  padding: 5px;
  margin: 20px 0px;
  display: inline-block;
  h2 { margin-top: 0px !important; }
}
.form {
  font-size: 1em;
  div {
    display: flex;
    flex-direction: column;
    label, input, textarea {
      font-size: 1em;
    }
  }
  input:focus { outline: none; }
  input[type="submit"]{
    margin-top: 10px;
    cursor:pointer;
    font-size: 1em;
    line-height: 2em;
    border-radius: 3px;
    background-color: lightseagreen;
    border: solid lightseagreen 1px;
    color: white;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:hover {
      opacity: 0.8;
    }
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  main {
    padding-top: 55px;
  }
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
