// Place all the styles related to the Rentings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#rentings {
  max-width: 100%;
  #renting-map {
    display: flex;
    width: 100%;
    .cards {
      all: unset;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 10em;
      gap: 0px 0px;
      a {
        border: solid;
        margin-bottom: 10px;
      }
    }
    section { width: 50%; }
    section:first-of-type { width: 100%; }
    #map {
      height: 100vh !important;
      position: sticky;
      top: 0;
      //display: flex;
      width: 100% !important;
    }
    .card.map {
      //border: solid 1px red;
      //height: 200px;
      //width: 100%;
      //border-radius: 3px;
      //margin: 0px 1em;
      //margin-bottom: 1em;
      //display: flex;
      img { height: 50px; width: auto; }
      .footer { all: unset; }
    }
  }
}
.selects-rentings {
  height: fit-content;
  padding: 1.5em 0px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  //display: block;
  width: fit-content;
  a {
    width: auto;
    color: black;
    text-decoration: none;
    border: solid 2px whitesmoke;
    border-radius: 3px;
    padding: 5px 15px;
    &:hover { background-color: whitesmoke; }
  }
}
