// Place all the styles related to the Rentings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#rentings {
  max-width: 100%;
  #renting-map {
    display: flex;
    width: 100%;
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0px 0px;
    }
    section:first-of-type { width: 50%; }
    section { width: 50%; }
    #map {
      height: 100vh !important;
      position: sticky;
      top: 0;
      //display: flex;
      width: 100% !important;
    }
  }
}
.selects-rentings {
  height: fit-content;
  padding: 1.5em 0px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  //display: block;
  width: fit-content;
  a {
    width: auto;
    color: black;
    text-decoration: none;
    border: solid 2px whitesmoke;
    border-radius: 3px;
    padding: 5px 15px;
    &:hover { background-color: whitesmoke; }
  }
}
