// Place all the styles related to the subdomain_rentings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//font-family: 'EB Garamond', serif;
//font-family: 'Caveat', cursive;
//font-family: 'Kalam', cursive;
#gite {
  h1, h2 { font-family: 'Kalam', sans-serif; }
  #home {
    article {
      display: flex;
      section {
        margin: 0px;
        padding: 10px;
        min-height: 90vh;
        width: 100%;
        display: block;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        transition-duration: 0.8s;
        .text {
          opacity: 0;
          transition-property: opacity; /* Active la transition sur background-color */
          transition-duration: 1.5s;
        }
        &:hover {
          width: 200%;
          a {
            //visibility: visible;
            opacity: 1; /* La transition dure 1s */
          }
          .text { opacity: 1; }
        }
      }
      section:first-of-type {
        color: red;
      }
    }
  }
a.grey {
  color: grey;
  border: solid 1px grey;
  border-radius: 20px;
  text-decoration: none;
  padding: 5px 15px;
  //visibility: hidden;
  opacity: 0;
  transition-property: opacity; /* Active la transition sur background-color */
  transition-duration: 1.5s;
}
}
