<main>
  <article class="article">
    <section>
      <h1>Marchés de Noel en Alsace</h1>
      <p>Remontant au XIVème siècle, les <strong>marchés de Noël débutèrent en Alsace</strong> et en Allemagne sous le nom de "Marché de Saint Nicolas". L'appellation évolua progressivement en "Christkindelsmärik" soit le marché de l'enfant Christ.<br>
      Parmi les marchés de noël les plus anciens connus, on retrouve le marché de noël de Strasbourg qui date de 1570 et celui de Nuremberg(Allemagne) qui lui date de 1628.<br>
      Dès 1990, un regain de popularité survint autour de cet événement avec la création dans de nombreuses villes d'Europe de leur propre <strong>marché de Noël</strong>.
      </p>
    </section>
    <section>
      <h2>La liste des marchés de Noël en Alsace</h2>
      <ul class="articles-list">
        <% @marches.each do |market| %>
          <%= link_to marche_noel_path(market) do %>
            <li><%= market.name %></li>
          <% end %>
        <% end %>
      </ul>
    </section>
  </article>
</main>

